@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.renderer.gleam {
  background-color: white;
  width: 750px;
  margin: 20px auto 90px auto;
  padding: 30px 45px 20px;
  box-sizing: border-box;
}
.gleam.form {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.gleam.form > .element {
  box-sizing: border-box;
  padding: 25px 10px;
  margin: 2px 0;
  position: relative;
  overflow: visible;
  display: grid;
  border: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
}
.gleam.form > .element.requiredError {
  background-color: #ffbebb;
  border-radius: 3px;
}
.gleam.form > .element.requiredError > span {
  background-color: #ffbebb !important;
}

.gleam.form > .element.invalidError > .input > input {
  border-radius: 5px;
  border: 2px solid red;
} 

.label span.required:after {
  content: ' *'; 
  color: red;
  position: absolute;
  left: 0; 
  font-size: 20px;
}

.label span.required[editor='true']:after {
  margin-top: -30px;
}
 
.gleam.form .element > .elemLabelTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gleam.form .element > h4 > .label {
  float: none;
}

.gleam.form .element > h4 > .label > span {
  font-family: Montserrat;
  min-width: 125px;
  max-width: calc(100% - 20px);
  display: inline-block;
  /*padding: 2px 5px;*/
  border: 1px solid transparent;
  word-break: break-word;
  color: #113952;
}
.builder.gleam.form
  .element
  > h4
  > .label
  > span[contentEditable='true']:hover {
  border: 1px dashed;
}
.gleam.form .element > h4 > .label > span.emptySpan {
  border: 1px dashed transparent;
}
.gleam.form .element > h4 > .label > .requiredMarker {
  display: inline-block;
  color: red;
  padding: 0;
  margin: 0;
  min-width: 5px !important;
  margin-left: 5px;
  vertical-align: top;
}
.gleam .element .input {
  width: 100%;
}
.gleam.form .sublabel:not(.header) {
  position: relative;
  font-size: 12px;
  display: inline-block;
  max-width: 600px;
  word-break: break-word;
}
.gleam.form .sublabel:not(.header) span[contentEditable='true'] {
  min-width: 123px;
  min-height: 19px;
  margin-top: 10px;
  padding: 3px;
  color: gray;
  border: 1px solid transparent;
  display: block;
  word-break: break-word;
}
.builder.gleam.form span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}
.builder.gleam.form span[contentEditable='true']:hover {
  border: 1px dashed black !important;
}
.gleam.form span[contentEditable='true']:focus-visible {
  outline: none;
}
.formTitle span[contentEditable='true'] {
  min-height: 22px;
  display: block;
  word-break: break-all;
  padding: 2px 5px;
  border: 1px solid transparent;
}
.formTitle span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}
.formTitle span[contentEditable='true']:hover {
  border: 1px dashed;
}
.formTitle span[contentEditable='true']:focus-visible {
  outline: none;
}
.formTitle span.emptySpan[contentEditable='true']:before {
  content: attr(dataPlaceholder);
  color: gray;
  display: inline-block;
}
.formTitle span.emptySpan[contentEditable='true']:not(:empty):before {
  content: '';
}
.builder.gleam .emptySpan:before {
  content: attr(dataPlaceholder);
  color: gray;
  display: inline-block;
}

.gleam .emptySpan:not(:empty):before {
  content: '';
}

.gleam.form .header.label {
  position: relative;
  max-width: 728px;
}
.gleam.form .header.label.alignLeft {
  text-align: left;
}

.gleam.form .header.label.alignRight {
  text-align: right;
}

.gleam.form .header.label.alignCenter {
  text-align: center;
}

/* header alignment feature backwards compatibility */
.gleam.form .header.label.alignundefined {
  text-align: center;
}
.gleam.form .header.sublabel.alignundefined {
  text-align: center;
}

.gleam.form .header.label span {
  font-family: Montserrat;
  padding: 3px 5px;
  width: 100%;
  display: block;
  border: 1px dashed transparent;
  word-break: break-word;
}
.gleam.form .header.sublabel {
  position: relative;
  max-width: 728px;
}
.gleam.form .header.sublabel.alignLeft {
  text-align: left;
}

.gleam.form .header.sublabel.alignRight {
  text-align: right;
}

.gleam.form .header.sublabel.alignCenter {
  text-align: center;
}
.gleam.form .header.sublabel span {
  padding: 3px 5px;
  width: 100%;
  display: block;
  border: 1px dashed transparent;
  word-break: break-word;
}
.gleam.form .clearfix {
  clear: both;
}
.gleam .elementTextBox .label {
  float: none;
  display: block;
}
.gleam .elementTextBox .input {
  width: 100%;
}
.gleam .elementTextBox .input input,
.gleam .elementEmail .input input {
  color: #333333;
  width: 100%;
  padding: 5px 16px;
  height: 42px;
  border: solid 1px #c9c9c9;
  border-radius: 3px;
  outline: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.gleam.form .element > .fl.label {
  margin-bottom: 10px;
  width: 100%;
}

.gleam .elementTextArea textarea,
.gleam .elementTextArea textarea:focus {
  border: solid 1px #c9c9c9;
  padding: 5px 16px;
  background-color: #f5f5f5;
  height: 92px;
  resize: none;
  width: 100%;
  outline: 0;
  color: #333333;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.gleam .elementCheckbox {
  background-color: transparent;
}

.gleam .elementDropdown .dropdown-div {
  display: inline-block;
  position: relative;
  width: 100%;
}
.gleam .elementDropdown .dropdown-div .dropdown-select,
.gleam .elementDropdown .dropdown-div .dropdown-select:focus {
  font-family: 'Twemoji Country Flags', 'Montserrat', sans-serif !important;
  outline: 0;
  width: 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #c9c9c9;
  background-color: #f5f5f5;
  color: #646464;
  box-sizing: content-box;
  padding: 5px 0;
}
.gleam .elementDropdown .dropdown-div .dropdown-select option {
  background-color: #fdfdfd;
  color: #333333;
  padding: 5px 80px;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.gleam .elementDropdown .dropdown-div .dropdown-select option:checked {
  color: #68942f;
}
.gleam .elementDropdown .dropdown-div .dropdown-select option:hover {
  background-color: #68942f;
  color: #ffffff;
}

.gleam .elementRadio ul {
  padding: 0;
  list-style: none;
}
.renderer.gleam .elementRadio ul li input {
  margin-top: 0px;
}
.gleam .elementRadio ul li input {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
  margin-top: 3px;
  display: inline-block;
  margin-right: 5px;
}
.gleam .elementRadio ul li input:checked {
  background-color: #8cc63f;
  border: 1px solid #8cc63f;
}
.gleam .elementRadio ul li input:checked::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #8cc63f;
  position: absolute;
  margin: 3px;
}
.gleam .elementRadio ul li input:checked + label {
  color: #8cc63f;
}

.elementRadio > .answerExplanationContainer > details {
  word-break: break-all;
}

.elementRadio > .answerExplanation > details {
  word-break: break-all;
}

.label.radio-label > span > p {
  margin: unset;
}

.gleam .elementRadio .unselect-button {
  visibility: hidden;
  background-color: #719fbd;
  outline: 0;
  border: 0;
  border-radius: 0;
  padding: 0.25rem;
  width: 9rem;
  min-height: 2.5rem;
  color: white;
  cursor: pointer;
  word-wrap: break-word;
  float: right;
}

.gleam .elementRadio .radioList.dirty + .unselect-button {
  visibility: visible;
}

.gleam .elementRadio .unselect-button:hover {
  background-color: #5e8c9e;
}

.gleam .elementRadio .unselect-button > .unselect-label > span {
  color: white !important;
  margin: unset !important;
  font-size: 11pt;
}

.gleam .elementName {
  background-color: transparent;
}

.elementName > .nameContainer > * > input,
.elementName > .nameContainer > * > select {
  height: 32px;
  border: solid 1px #c9c9c9;
  border-radius: 3px;
  outline: 0;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.gleam .elementFileUpload {
  background-color: transparent;
}

.elementFileUpload > .inputContainer > .fileDisplay {
  word-break: break-all;
}

.gleam .elementButton button,
.gleam .elementButton button:focus,
.elementButton button,
.elementButton button:focus {
  font-family: Montserrat;
  font-weight: bolder;
  padding: 5px 10px;
  font-size: 16px;
  width: 7rem;
  min-height: 2.6rem;
  background-color: #9ee048;
  border: 1px solid #9ee048;
  outline: none;
  color: #ffffff;
  float: right;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow-wrap: anywhere;
  cursor: pointer;
}

.gleam .elementButton button:hover {
  cursor: pointer;
}

.builder.gleam .elementButton button span[contentEditable='true'] {
  display: block;
  border: 1px solid #9ee048;
  overflow-wrap: break-word;
}

.gleam .elementCheckbox .input,
.gleam .elementRadio li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}

.builder.gleam .elementCheckbox .input .checkbox-label {
  color: #333333;
  display: inline-block;
  margin-top: -2px;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  user-select: none;
  min-width: 115px;
}

.builder.gleam.form .elementRadio .input .radio-label {
  color: #333333;
  display: inline-block;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  min-width: 115px;
  vertical-align: bottom;
}

.renderer.gleam .elementCheckbox .input .checkbox-label {
  color: #333333;
  margin-top: 0px;
  max-width: calc(100% - 25px);
  overflow: hidden;
  user-select: none;
  min-width: 60px;
  display: inline-block;
  word-break: break-all;
  white-space: break-spaces;
}

.renderer.gleam.form .elementRadio .input .radio-label {
  color: #333333;
  max-width: calc(100% - 25px);
  margin-top: 0px;
  overflow: hidden;
  user-select: none;
  min-width: 60px;
  display: inline-block;
  word-break: normal;
  white-space: break-spaces;
}

.renderer.gleam.form .elementRadio .input .radio-label p {
  margin: 0;
}

.gleam.form
  .elementRadio
  .input
  .radio-label
  span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}

.gleam.form .elementRadio .input .radio-label span[contentEditable='true'] {
  border: 1px dashed transparent;
  min-width: 60px;
  display: block;
  word-break: break-all;
  white-space: break-spaces;
}

.gleam.form
  .elementCheckbox
  .input
  .checkbox-label
  span[contentEditable='true']:hover {
  border: 1px dashed black;
}

.gleam.form
  .elementCheckbox
  .input
  .checkbox-label
  span[contentEditable='true'] {
  border: 1px dashed transparent;
  /*padding: 2px 5px;*/
  min-width: 60px;
  display: block;
  word-break: break-all;
  white-space: break-spaces;
}

.gleam.form
  .elementRadio
  .input
  .radio-label
  span[contentEditable='true']:hover {
  border: 1px dashed black;
}

.gleam .elementCheckbox .input > input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
}

.gleam .elementCheckbox .input > input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}

.renderer.gleam .elementCheckbox .toggle .input .checkbox-label {
  word-break: break-word;
  max-width: calc(100% - 50px);
}

.builder.gleam .elementCheckbox .toggle .input .checkbox-label {
  word-break: break-word;
  max-width: calc(100% - 50px);
}

.gleam .elementCheckbox .input > input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 9px;
  top: 6px;
}

.gleam .elementCheckbox .input > input[type='checkbox']:active {
  border: 1px solid #a0a0a0;
}

.builder.gleam .elementCheckbox .toggle {
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
.checkboxCover {
  display: inline-grid;
  width: 100%;
}

.builder.gleam .elementCheckbox textarea#options-textarea,
.builder.gleam .elementCheckbox textarea#options-textarea:focus {
  border: 1px solid #c9c9c9;
  padding: 5px 16px;
  background-color: #f5f5f5;
  height: 80px;
  resize: none;
  width: 100%;
  outline: 0;
  color: #333333;
}

.gleam .elementCheckbox .toggle .input input[type='checkbox'] {
  opacity: 0;
  width: 40px;
  height: 18px;
  z-index: 9999;
  position: relative;
}

.gleam .elementCheckbox .toggle .input .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9dedc;
  transition: 0.4s;
  width: 40px;
  height: 18px;
  border-radius: 16px;
}

.gleam .elementCheckbox .toggle .input .slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -2px;
  background-color: #bec6c4;
  transition: 0.4s;
  border-radius: 12px;
}

.gleam .elementCheckbox .toggle .input input:checked + .slider {
  background-color: #cae1ab;
}

.gleam .elementCheckbox .toggle .input input:focus + .slider {
  box-shadow: 0 0 1px #8cc63f;
}

.gleam .elementCheckbox .toggle .input input:checked + .slider:before {
  background-color: #8cc63f;
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.gleam .nameContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.gleam .nameContainer > * {
  flex: 1 1 100%;
  padding: 0 2px 0 2px;
}

.gleam .nameContainer > * > * {
  width: 100%;
  min-height: 24px;
  color: #333333;
}

.gleam .nameContainer .clearfix {
  display: grid;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.gleam .nameContainer .name_span {
}

.gleam .nameContainer .prefix_span select {
  align-self: stretch;
  padding: 0px 24px 0px 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
}

.gleam .nameContainer .suffix_span {
}

.gleam .hidden {
  display: none !important;
}

.verification_back {
  text-align: center;
  padding: 0 40px;
  line-height: 20px;
}

@media screen and (max-width: 992px) {
  .renderer.gleam {
    margin: 0;
    width: auto;
    padding: 10px;
  }

  .branding {
    margin: 0;
    width: auto;
    padding: 10px;
  }

  .branding > .branding-text {
    margin: auto;
  }
}

@media screen and (max-width: 690px) {
  .branding {
    justify-content: center;
  }
  .branding > .branding-text {
    display: none;
  }

  .branding > img {
    width: auto;
    margin: auto;
  }
}

@media screen and (max-width: 590px) {
  .renderer.gleam .elementNetPromoterScore ul {
    padding: 0 !important;
  }
  .renderer.gleam .elementNetPromoterScore ul li label {
    width: 30px !important;
    margin: 0 1px !important;
  }
}

.branding {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  position: fixed;
  position: -ms-device-fixed;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.branding > img {
  width: 200px;
  height: 60px;
}

.branding > .Group_170 {
  /* This is formpress logo svg. */
  width: 200px;
  height: 60px;
}

.branding > .branding-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: black !important;
  text-align: right;
  margin: auto 0 auto 90px;
}
.renderer.gleam:after {
  /* the password warning after the form */
  border-top: 1px solid #f5f5f5;
  content: 'Never submit passwords via FORMPRESS forms.';
  color: black;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 90px;
}
.inputContainer > span {
  margin-left: 5px;
}

.address-section > input,
.address-section > select {
  height: 2.3rem;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: solid 1px #c9c9c9;
  color: #333;
  outline: 0;
}

.gleam .elementAddress .address-section > select option:checked {
  color: #68942f;
}

.address-section {
  display: inline-block;
  float: left;
  margin: 0 0 10px 0;
}

.elementAddress {
  font-family: 'Twemoji Country Flags', 'Montserrat', sans-serif !important;
}

.address-section.adr-street {
  width: 100%;
  padding: 0 2px 0 2px;
}

.address-section > input {
  background-color: #f5f5f5;
  border: solid 1px #c9c9c9;
  height: 2.3rem;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.address-section > input:focus-visible {
  outline: 0;
}

.adr-street > input {
  width: 99%;
}

.adr-state,
.adr-country,
.adr-city,
.adr-zip {
  padding: 0 2px 0 2px;
}

.adr-state > input,
.adr-state > select,
.adr-country > select,
.adr-zip > input,
.adr-city > input {
  width: 100%;
}

.address-flex-row {
  display: flex;
  clear: both;
  justify-content: space-between;
}

.renderer.gleam .elementNetPromoterScore ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
}

.renderer.gleam .elementNetPromoterScore ul li {
  display: inline-flex;
}

.renderer.gleam .elementNetPromoterScore .first-child .sublabel {
  text-align: center;
}

.renderer.gleam .elementNetPromoterScore [type='radio'] {
  display: none;
}

.renderer.gleam .elementNetPromoterScore .net-promoter-score-label {
  display: inline-block;
  border: 1px solid #1c5c85;
  background-color: #fff;
  color: #1c5c85;
  width: 40px;
  height: 30px;
  margin: 0 5px;
  user-select: none;
  text-align: center;
  line-height: 28px;
}

.renderer.gleam .elementNetPromoterScore .net-promoter-score-label:hover {
  border: 1px solid #1c5c85;
  background-color: #1c5c85;
  color: #fff;
}

.renderer.gleam .elementNetPromoterScore input[type='radio']:checked + label {
  border: 1px solid #1c5c85;
  background-color: #1c5c85;
  color: #fff;
}

.form-hidden {
  display: none;
}

.renderer.gleam .pagebreak-separator {
  color: #f5f5f5;
  width: 100%;
}

.renderer.gleam .pagebreak-button {
  display: inline-block;
}

.renderer.gleam .pagebreak-button > button {
  color: white;
  cursor: pointer;
  background-color: #9ee048;
  width: 7rem;
  min-height: 2.6rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bolder;
  font-size: 16px;
}

.renderer.gleam .pagebreak-navControls {
  padding-top: 10px;
}

.renderer.gleam .pagebreak-pageCount {
  text-align: center;
  margin-top: 1rem;
}
.currentPageSelector > .currentPageSelector-select {
  text-align: right;
  width: min-content !important;
}

.pagebreak-button.pb-previous {
  float: left;
}
.pagebreak-button.pb-next,
.pagebreak-button.pb-submit {
  float: right;
}

.renderer.gleam .pagebreak-navControls > .pagebreak-button > button > div,
.renderer.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='button']
  > div,
.renderer.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='submit']
  > div {
  padding: 0.3rem;
}

.renderer.gleam .pagebreak-button > button > * {
  pointer-events: none;
}

.renderer.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > button
  > div
  > span,
.renderer.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='button']
  > div
  > span,
.renderer.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='submit']
  > div
  > span {
  display: block;
  border: #9ee048 solid 1px;
  width: 5.7rem;
  overflow-wrap: break-word;
}

.renderer.gleam .elementPhone > .input {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}

.renderer.gleam .elementPhone > .input > .dialCode {
  font-family: 'Twemoji Country Flags', 'Montserrat', sans-serif;
  width: 3.1rem;
  font-size: x-large;
  border: solid 1px #c9c9c9;
  border-radius: 3px;
  outline: 0;
  background-color: #f5f5f5;
  opacity: 1;
}

.renderer.gleam .elementPhone > .input > .dialCode:hover,
.renderer.gleam .elementPhone > .input > .dialCode:focus {
  width: 12rem;
  font-size: medium;
}

.renderer.gleam .elementPhone > .input > .phoneInput {
  width: 100%;
  padding: 5px 16px;
  height: 42px;
  border: solid 1px #c9c9c9;
  border-radius: 3px;
  outline: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin-left: 5px;
}

/* PART BELOW IS ABOUT EXAM EVALUATION PAGE */
ul li.correct > label::after {
  content: ' \2713';
  display: inline-block;
  color: #7fcc0a;
  padding: 0 6px 0 0;
}

ul li.wrong {
  background-color: palevioletred;
  border-radius: 4px;
}

ul li.expected {
  background-color: lightgreen;
  border-radius: 4px;
}

.results-header {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 200;
  font-family: 'Montserrat';
}
.results-header > .r-header-section {
  width: 33%;
  float: left;
  border-right: 1px solid #eee;
}

.results-header > .userData {
  display: block;
  /*padding: 0.8rem;*/
  color: #113952;
}
.results-header > .userData .completion-date > #completionDate,
.results-header > .userData .completion-time > #completionTime {
  color: black;
}

.results-header > .formInfo {
  /*padding: 1.5rem;*/
  text-align: center;
  color: #0071bc;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-header > .testResults {
  padding: 0.4rem;
}

.results-header > .testResults > .leftHand {
  width: 50%;
  float: left;
}
.results-header > .testResults > .rightHand {
  width: 45%;
  float: right;
  text-align: center;
  border-left: 1px solid #eee;
  height: 100%;
}

.results-header > .userData,
.results-header > .formInfo,
.results-header > .testResults > .leftHand,
.results-header > .testResults > .rightHand {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.results-header > .testResults > .leftHand > .lhContent > .question-info-row,
.results-header > .testResults > .leftHand > .lhContent > .answer-info-row {
  color: #113952;
}
.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #correctAnswers {
  color: #6dd76d;
}
.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #wrongAnswers {
  color: #d75454;
}

.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #unanswered {
  color: rgb(123, 116, 116);
}

.results-header
  > .testResults
  > .rightHand
  > .rhContent
  > #percentageScore::after {
  content: '%';
  color: black;
  font-family: 'Montserrat';
  font-weight: 600;
}

.fp-powered {
  display: flex;
  width: 13rem;
  align-items: center;
  color: #847e7e;
  font-size: 9pt;
  font-weight: bold;
  font-family: 'Montserrat';
  padding: 0 0.2rem;
}
.fp-powered > a {
  text-decoration: none;
}

.fp-powered > a > img {
  height: 2rem;
  width: 5.8rem;
  margin-left: 0.5rem;
}

fp-powered + div > .form::after {
  content: none;
}

/* PART ABOVE IS ABOUT EXAM EVALUATION PAGE*/
