@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap');

.renderer.gleam {
  background-color: white;
  width: 750px;
  margin: 20px auto;
  padding: 30px 90px 20px;
  box-sizing: border-box;
}
.gleam.form > .element {
  box-sizing: border-box;
  padding: 25px 10px;
  margin: 2px 0;
  position: relative;
  overflow: visible;
  display: grid;
  border: 1px solid #ffffff;
}
.gleam.form > .element.requiredError {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.3);
}
.gleam.form > .element > .label {
  float: none;
  margin-bottom: 10px;
}
.gleam.form > .element > .label > span {
  min-width: 125px;
  max-width: calc(100% - 20px);
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #ffffff;
  word-break: break-word;
}
.builder.gleam.form > .element > .label > span[contentEditable='true']:hover {
  border: 1px dashed;
}
.gleam.form > .element > .label > span.emptySpan {
  border: 1px dashed gray;
}
.gleam.form > .element.requiredError > .label > span {
  border: 1px solid #ffbebb;
}
.gleam.form > .element > .label > .requiredMarker {
  display: inline-block;
  color: red;
  padding: 0;
  margin: 0;
  min-width: 5px !important;
  margin-left: 5px;
  vertical-align: top;
}
.gleam .element .input {
  width: 100%;
}
.gleam.form .sublabel:not(.header) {
  position: relative;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  max-width: 600px;
  word-break: break-word;
}
.gleam.form .sublabel:not(.header) span[contentEditable='true'] {
  min-width: 123px;
  min-height: 19px;
  padding: 2px 5px;
  color: gray;
  border: 1px solid #ffffff;
  display: block;
  word-break: break-all;
}
.builder.gleam.form span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}
.builder.gleam.form span[contentEditable='true']:hover {
  border: 1px dashed black !important;
}
.gleam.form span[contentEditable='true']:focus-visible {
  outline: none;
}
.formTitle span[contentEditable='true'] {
  min-height: 22px;
  display: block;
  padding: 2px 5px;
  border: 1px solid #fff;
}
.formTitle span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}
.formTitle span[contentEditable='true']:hover {
  border: 1px dashed;
}
.formTitle span[contentEditable='true']:focus-visible {
  outline: none;
}
.formTitle span.emptySpan[contentEditable='true']:before {
  content: attr(dataPlaceholder);
  color: gray;
  display: inline-block;
}
.formTitle span.emptySpan[contentEditable='true']:not(:empty):before {
  content: '';
}
.builder.gleam .emptySpan:before {
  content: attr(dataPlaceholder);
  color: gray;
  display: inline-block;
}

.gleam .emptySpan:not(:empty):before {
  content: '';
}

.gleam.form .requiredError .sublabel:not(.header) {
  border: 1px solid #ffbebb;
}
.gleam.form .header.label {
  position: relative;
  text-align: center;
  max-width: 728px;
}
.gleam.form .header.label span {
  padding: 3px 5px;
  width: 100%;
  display: block;
  border: 1px dashed white;
}
.gleam.form .header.sublabel {
  position: relative;
  text-align: center;
  max-width: 728px;
}
.gleam.form .header.sublabel span {
  padding: 3px 5px;
  width: 100%;
  display: block;
  border: 1px dashed white;
}
.gleam.form .clearfix {
  clear: both;
}
.gleam .elementTextBox .label {
  float: none;
  display: block;
}
.gleam .elementTextBox .input {
  width: 100%;
}
.gleam .elementTextBox .input input,
.gleam .elementEmail .input input {
  color: #113952;
  width: 100%;
  padding: 5px 16px;
  height: 42px;
  border: solid 1px #c9c9c9;
  outline: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.gleam.form .element > .fl.label {
  margin-bottom: 10px;
  width: 100%;
}
.gleam.form .element.requiredError > .fl.label {
  border: 1px solid #ffbebb;
}
.gleam .elementTextArea textarea,
.gleam .elementTextArea textarea:focus {
  border: solid 1px #c9c9c9;
  padding: 5px 16px;
  background-color: #f5f5f5;
  height: 92px;
  resize: none;
  width: 100%;
  outline: 0;
  color: #333333;
  box-sizing: border-box;
}
.gleam .elementCheckbox {
  background-color: transparent;
}
.gleam .elementDropdown {
  background-color: transparent;
}
.gleam .elementDropdown .dropdown-div {
  display: inline-block;
  position: relative;
  width: 100%;
}
.gleam .elementDropdown .dropdown-div .dropdown-select,
.gleam .elementDropdown .dropdown-div .dropdown-select:focus {
  outline: 0;
  width: 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #c9c9c9;
  background-color: #f5f5f5;
  color: #646464;
  box-sizing: content-box;
  padding: 5px 0;
}
.gleam .elementDropdown .dropdown-div .dropdown-select .option-space {
  background-color: #fdfdfd;
  color: #333333;
  padding: 5px 80px;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.gleam .elementDropdown .dropdown-div .dropdown-select .option-space:checked {
  color: #68942f;
}
.gleam .elementDropdown .dropdown-div .dropdown-select .option-space:hover {
  background-color: #68942f;
  color: #ffffff;
}

.gleam .elementRadio ul {
  padding: 0;
  list-style: none;
}
.gleam .elementRadio ul li input {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
  margin-top: 3px;
}
.gleam .elementRadio ul li input:checked {
  background-color: #8cc63f;
  border: 1px solid #8cc63f;
}
.gleam .elementRadio ul li input:checked::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #8cc63f;
  position: absolute;
  margin: 3px;
}
.gleam .elementRadio ul li input:checked + label {
  color: #8cc63f;
}
.gleam .elementRadio ul li input + label {
  display: inline-block;
  margin-top: 1px;
  position: absolute;
  text-indent: 5px;
  font-size: 16px;
  font-family: 'Times New Roman';
  padding: 0;
}
.gleam .elementName {
  background-color: transparent;
}
.gleam .elementFileUpload {
  background-color: transparent;
}
.gleam .elementButton input[type='submit'],
.gleam .elementButton input[type='submit']:focus,
.builder.gleam .elementButton button,
.builder.gleam .elementButton button:focus {
  padding: 5px 10px;
  font-size: 16px;
  width: 130px;
  min-height: 44px;
  background-color: #9ee048;
  border: 1px solid #9ee048;
  outline: none;
  color: #ffffff;
  float: right;
}

.gleam .elementButton input[type='submit']:hover {
  cursor: pointer;
}

.builder.gleam .elementButton button {
  display: block;
  border: 1px solid #9ee048;
  margin-top: 25px;
}

.builder.gleam .elementButton button span[contentEditable='true'] {
  display: block;
  border: 1px solid #9ee048;
}

.gleam .elementCheckbox .input,
.gleam .elementRadio li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.gleam .elementCheckbox .input .checkbox-label {
  color: #333333;
  display: inline-block;
  margin-top: -2px;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  user-select: none;
  min-width: 115px;
}

.gleam .elementCheckbox.requiredError .input .checkbox-label {
  border: 1px solid #ffb2b2;
}

.gleam.form .elementRadio .input .radio-label {
  color: #333333;
  display: inline-block;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  min-width: 115px;
  vertical-align: bottom;
}

.gleam.form
  .elementRadio
  .input
  .radio-label
  span.emptySpan[contentEditable='true'] {
  border: 1px dashed gray;
}

.gleam.form .elementRadio .input .radio-label span[contentEditable='true'] {
  border: 1px dashed #ffffff;
  padding: 2px 5px;
  min-width: 60px;
  display: block;
  word-break: break-all;
  white-space: break-spaces;
}

.gleam.form
  .elementCheckbox
  .input
  .checkbox-label
  span[contentEditable='true']:hover {
  border: 1px dashed black;
}

.gleam.form
  .elementCheckbox
  .input
  .checkbox-label
  span[contentEditable='true'] {
  border: 1px dashed #ffffff;
  padding: 2px 5px;
  min-width: 60px;
  display: block;
  word-break: break-all;
  white-space: break-spaces;
}

.gleam.form
  .elementRadio
  .input
  .radio-label
  span[contentEditable='true']:hover {
  border: 1px dashed black;
}

.gleam.form .elementRadio.requiredError .input .radio-label {
  border: 1px solid #ffb2b2;
}

.gleam .elementCheckbox .input > input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
}

.gleam .elementCheckbox .input > input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}
.gleam
  .elementCheckbox
  .input
  > input[type='checkbox']:checked
  + .checkbox-label {
  color: #8cc63f;
}

.gleam .elementCheckbox .toggle .input .checkbox-label {
  color: #333333;
  display: inline-block;
  position: absolute;
  text-indent: 5px;
  white-space: nowrap;
}

.gleam .elementCheckbox .input > input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 4px;
  top: 1px;
}

.gleam .elementCheckbox .input > input[type='checkbox']:active {
  border: 1px solid #a0a0a0;
}

.builder.gleam .elementCheckbox .toggle {
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
.checkboxCover {
  display: inline-grid;
  width: 100%;
}

.gleam .elementCheckbox .toggle {
  position: relative;
  display: table;
  width: 60px;
  height: 34px;
}

.builder.gleam .elementCheckbox textarea#options-textarea,
.builder.gleam .elementCheckbox textarea#options-textarea:focus {
  border: 1px solid #c9c9c9;
  padding: 5px 16px;
  background-color: #f5f5f5;
  height: 80px;
  resize: none;
  width: 100%;
  outline: 0;
  color: #333333;
}

.gleam .elementCheckbox .toggle .input input[type='checkbox'] {
  opacity: 0;
  width: 40px;
  height: 18px;
  z-index: 9999;
  position: relative;
}

.gleam .elementCheckbox .toggle .input .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9dedc;
  transition: 0.4s;
  width: 40px;
  height: 18px;
  border-radius: 16px;
}

.gleam .elementCheckbox .toggle .input input:checked + .slider:before {
  background-color: #8cc63f;
}

.gleam .elementCheckbox .toggle .input .slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -2px;
  background-color: #bec6c4;
  transition: 0.4s;
  border-radius: 12px;
}

.gleam .elementCheckbox .toggle .input input:checked + .slider {
  background-color: #cae1ab;
}

.gleam .elementCheckbox .toggle .input input:focus + .slider {
  box-shadow: 0 0 1px #8cc63f;
}

.gleam .elementCheckbox .toggle .input input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.gleam .nameContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.gleam .nameContainer > * {
  flex: 1 1 100%;
  margin: 0px 5px;
}

.gleam .nameContainer > * > * {
  width: 100%;
  min-height: 24px;
  color: #333333;
}

.gleam .nameContainer .clearfix {
  display: grid;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.gleam .nameContainer .name_span {
}

.gleam .nameContainer .prefix_span select {
  align-self: stretch;
  padding: 0px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
}

.gleam .nameContainer .suffix_span {
}

.gleam .hidden {
  display: none !important;
}

.verification_back {
  text-align: center;
  padding: 0 40px;
  line-height: 20px;
}

@media screen and (max-width: 992px) {
  .renderer.gleam {
    margin: 0;
    width: auto;
    padding: 10px;
  }
}
