.integration-wrapper
  > .integration-content
  > .integration-configuration
  > .integration-inputs
  > .webhookUrl
  > .elementTextBox
  > .input
  > input {
  width: 700px;
}

.integration-wrapper
  > .integration-content
  > .integration-configuration
  > .integration-inputs
  > .invalid-url
  > .elementTextBox
  > .input
  > input {
  border-radius: 5px;
  border: 2px solid red;
}

.integration-wrapper
  > .integration-content
  > .integration-configuration
  > .integration-inputs
  > .field-limit-reached {
  border: 2px solid red;
}
.custom-input-toggle {
  display: flex;
  align-items: center;
  margin: 2px 10px 10px 10px;
}
.custom-input-toggle span {
  margin-left: 10px;
}

.custom-input-toggle input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.custom-input-toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 32px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.custom-input-toggle label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 12px;
  transition: 0.2s;
}

.custom-input-toggle input:checked + label {
  background: #113952;
}

.custom-input-toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
