.env
node_modules
backend/node_modules
backend/script/transformed/*
!backend/script/transformed/.gitkeep
backend/formpress-2bb91771c29b.json
frontend/public/runtime/
frontend/node_modules

**/settings/*.plugin.js
**/settings/*.plugin.css
**/plugins/*.plugin.js
**/migration/*plugin.js

k8s
node_modules
**/.DS_Store

ignore*.sh
*.pem