<div class="branding">
    <%- include ("../svg/formpresslogo.svg") %>
    <div class="branding-text">
        Created via FormPress <a href="https://formpress.org" target="_blank">Online Form Builder.</a>
    </div>
</div>