<div class="branding">
        <%- include ("../svg/formpresslogo.svg") %>
    <div class="branding-text">This form has been created on FORMPRESS. <br/>
        <a href="https://app.formpress.org" target="_blank" title="Visit FORMPRESS and start building awesome forms!">Click here</a> to create your own form now! It is free!</div>
</div>