<!DOCTYPE html>
<html>
<head>
   <script>
       const urlArray = window.location.pathname.split('/')
       const integrationType = urlArray[urlArray.length - 1]
       if (integrationType === 'googledrive') {
         const params = new URLSearchParams(window.location.search)

         const status = params.get('message')
         const base64Token = params.get('token')
         const folderID = params.get('folderID')
         const submissionIdentifierId = params.get('submissionIdentifierId')
         const submissionIdentifierType = params.get('submissionIdentifierType')

         if (status === 'true') {
             window.opener.activateIntegration(
               base64Token,
               folderID,
               submissionIdentifierId,
               submissionIdentifierType
             )
         }
          // window.close()
       }

   </script>
</head>
<body>
Testing ejs.
</body>
</html>
