<!DOCTYPE html>
<html>
  <body>
    <div style=" width: 600px; border:solid 1px #e2e2e2;">
      <div style=" background-color:#8cc63f; width:100%; height: 6px"></div>
      <div style= "height:80px; width:100%;">
        <span style=" padding: 10px 10px 10px 40px; display: inline-block">
          <img src="https://static.formpress.org/images/logo.png" alt="formpress logo" width="204"/>
        </span>
        <span style="padding: 10px 10px 10px 110px;">
          <img src="https://static.formpress.org/images/motto.png" alt="formpress motto" width="206"/>
        </span>
      </div>
      <div>
        Welcome to FORMPRESS!
      </div>
      <div>
        To start using FORMPRESS please visit the link below.
      </div>
      <div>
        <% const verifyLink = `${FRONTEND}/verify/${USERID}/${VERIFYCODE}` %>
        <a href="<%= verifyLink %>"><%= verifyLink %></a>
      </div>
      <div style =" font-size: 12px;   text-align: center; color: #646569;">
        &#169; 2021 FORMPRESS.ORG
      </div>
    </div>
  </body>
</html>
