<div style=" width: 600px; border:solid 1px #e2e2e2;">
  <div style=" background-color:#8cc63f; width:100%; height: 6px"></div>
  <div style= "height:80px; width:100%;">
    <span style=" padding: 10px 10px 10px 40px; display: inline-block">
      <img src="https://static.formpress.org/images/logo.png" alt="formpress logo" width="204"/>
    </span>
    <span style="padding: 10px 10px 10px 110px;">
      <img src="https://static.formpress.org/images/motto.png" alt="formpress motto" width="206"/>
    </span>
  </div>
  <div style=" width: 100%; padding-bottom:50px;">
    <span style=" padding: 80px 80px 10px 40px; width: 43%; font-size: 16px; color:#113952; float:left;">
      Your <strong>&quot;<%= FormTitle %>&quot;</strong> form just received a respond. Here is the details:
    </span>
    <span>
      <img src="https://static.formpress.org/images/hero.png" alt="submisssion success" width="221"/>
    </span>
  </div>
  <div>
    <span style="width: 40px; display: inline-block"></span>
    <span style="width: 85%; display: inline-block; height: 2px; background-color: #e2e2e2;"></span>
  </div>
  <div style=" color:#7aad37; font-size: 18px; padding-left:40px; padding-top: 20px;">RESPONDS</div>
  <%- FormAnswers %>
  <div style =" font-size: 12px;   text-align: center; color: #646569;">
    &#169; 2021 FORMPRESS.ORG This e-mail has been sent to <%- email %>, you can change it from form properties.
  </div>
</div>
