<!DOCTYPE html>
<html>
<head>
  <title>Submission Success!</title>
  <%- headerAppend %>
</head>
<body>
  <div>
  <%- include ("../svg/SubmitSuccess.svg") %>
  </div>
  <div class="testing"><h2><%= tyTitle %></h2></div>
  <div><%= tyText %></div>
</body>
</html>