.header > .mainTabs > a {
  color: #1c5c85;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}

.header > .mainTabs > a:hover {
  background-color: #719fbd;
}

.header > .mainTabs > a.selected,
.header > .mainTabs > a.selected {
  background-color: #1c5c85;
  color: #ffffff;
}

.mainTabs {
  background-color: #e2e2e2;
}
