.eval-wrapper {
  margin-top: 10px;
}
.eval-nav {
  display: flex;
  justify-content: center;
}
.eval-nav > div {
  background-color: #e2e2e2;
  cursor: pointer;
  color: #1c5c85;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
}
.eval-nav > div.selected {
  background-color: #719fbd;
}
.eval-nav > div:hover {
  background-color: #719fbd;
}
.eval-title {
  text-align: center;
  margin: 10px;
  color: #1c5c85;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.load-forms {
  background-color: #e2e2e2;
  cursor: pointer;
  color: #1c5c85;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 28px;
}
.load-reviews {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.load-reviews > span {
  padding: 10px;
  background-color: #e2e2e2;
  cursor: pointer;
  color: #1c5c85;
  width: 200px;
  text-align: center;
}
.load-reviews > select {
  margin-right: 20px;
}
.load-forms:hover {
  background-color: #719fbd;
}
.eval-list {
  min-width: 30%;
  margin: 10px;
}
.review-eval-list {
  min-width: 50%;
  margin: 10px;
}
.review-eval-list.approved {
  min-width: 65%;
  margin: 10px;
}
.eval-list > div {
  padding: 10px;
  border: 1px solid #719fbd;
}
.eval-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  color: white;
  border: none;
  background-color: #1c5c85;
  font-size: 9px;
  font-weight: bold;
  padding: 8px 12px;
  width: 92px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
.eval-button.good {
  background-color: #8bc34a;
}
.eval-button.bad {
  background-color: #e57373;
}
.eval-content > .selected-form {
  min-width: 60%;
  margin: 10px;
  word-wrap: break-word;
}
.eval-content > .selected-form a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration: none;
  background-color: #1c5c85;
  color: #ffffff;
  margin: 0px 5px 5px 0px;
}
.selected-eval-form {
  min-width: 40%;
  margin: 10px;
  word-wrap: break-word;
}
.selected-eval-form > .iframe-wrapper {
  height: 3000px;
}
.selected-eval-form a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration: none;
  background-color: #1c5c85;
  color: #ffffff;
  margin: 0px 5px 5px 0px;
}
.eval-list > .header-row {
  font-weight: bold;
  background-color: #719fbd;
  display: flex;
  align-items: center;
  padding: 8px;
}
.header-row > span {
  text-align: center;
}
.data-row > span {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.load-reviews > .end {
  cursor: not-allowed;
}
.eval-list > .data-row span:nth-child(1),
.eval-list > .header-row span:nth-child(1) {
  flex: 1;
}
.eval-list > .data-row span:nth-child(2),
.eval-list > .header-row span:nth-child(2) {
  flex: 7;
}
.eval-list > .data-row span:nth-child(3),
.eval-list > .header-row span:nth-child(3) {
  flex: 2;
}
.eval-list > .data-row {
  cursor: pointer;
  display: flex;
}
.data-row.selected {
  background-color: #719fbd;
}
.eval-list > .data-row:hover {
  background-color: #719fbd;
}
.eval-list > .data-row span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eval-list span {
  text-align: center;
}
.eval-list > .data-row a {
  text-decoration: none;
  color: #007bff;
}
.eval-list > .data-row a:hover {
  text-decoration: underline;
}
.eval-content {
  display: flex;
  margin-top: 10px;
}
.eval-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}
.eval-controls.vertical {
  flex-direction: column;
}
.form-info {
  padding: 10px;
  border: 1px solid #719fbd;
  word-wrap: break-word;
}
.form-info div {
  padding: 5px;
}
.form-info div b,
.form-info div a {
  font-size: 18px;
}
.review-eval-list > .header-row {
  font-weight: bold;
  background-color: #719fbd;
  display: flex;
  align-items: center;
  padding: 8px;
}
.review-eval-list > .data-row {
  display: flex;
  padding: 8px;
}
.review-eval-list > .data-row:hover {
  background-color: #719fbd;
}
.review-eval-list > .data-row span {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.review-eval-list div {
  border: 1px solid #719fbd;
}
.review-eval-list.approved > .data-row span:nth-child(1),
.review-eval-list.approved > .header-row span:nth-child(1),
.review-eval-list > .data-row span:nth-child(1),
.review-eval-list > .header-row span:nth-child(1) {
  flex: 1;
}
.review-eval-list > .data-row span:nth-child(2),
.review-eval-list > .header-row span:nth-child(2) {
  flex: 1;
}
.review-eval-list > .data-row span:nth-child(3),
.review-eval-list > .header-row span:nth-child(3) {
  flex: 1;
}
.review-eval-list > .data-row span:nth-child(4),
.review-eval-list > .header-row span:nth-child(4) {
  flex: 1;
}
.review-eval-list > .data-row span:nth-child(5),
.review-eval-list > .header-row span:nth-child(5) {
  flex: 5;
}
.review-eval-list > .data-row span:nth-child(6),
.review-eval-list > .header-row span:nth-child(6) {
  flex: 5;
}
.review-eval-list > .data-row span:nth-child(7),
.review-eval-list > .header-row span:nth-child(7) {
  flex: 1;
}
.review-eval-list.approved > .data-row span:nth-child(2),
.review-eval-list.approved > .header-row span:nth-child(2) {
  flex: 1;
}
.review-eval-list.approved > .data-row span:nth-child(3),
.review-eval-list.approved > .header-row span:nth-child(3) {
  flex: 2;
}
.review-eval-list.approved > .data-row span:nth-child(4),
.review-eval-list.approved > .header-row span:nth-child(4) {
  flex: 2;
}
.review-eval-list.approved > .data-row span:nth-child(5),
.review-eval-list.approved > .header-row span:nth-child(5) {
  flex: 8;
}
.review-eval-list.approved > .data-row span:nth-child(6),
.review-eval-list.approved > .header-row span:nth-child(6) {
  flex: 5;
}
.review-eval-list.approved > .data-row span:nth-child(7),
.review-eval-list.approved > .header-row span:nth-child(7) {
  flex: 8;
}
.review-eval-list.approved > .data-row span:nth-child(8),
.review-eval-list.approved > .header-row span:nth-child(8) {
  flex: 5;
}
.review-eval-list.approved > .data-row span:nth-child(9),
.review-eval-list.approved > .header-row span:nth-child(9) {
  flex: 1;
}
.eval-header > .load-forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eval-header > .load-forms-container > .form-search {
  width: 400px;
}

.eval-header > .load-forms-container > .form-search label {
  text-align: center;
}
.eval-content > .selected-eval-form > .form-tabs,
.eval-content > .selected-form > .form-tabs {
  display: flex;
}
.eval-content > .selected-eval-form > .form-tabs > .form-tab,
.eval-content > .selected-form > .form-tabs > .form-tab {
  color: #1c5c85;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}
.eval-content > .selected-eval-form > .form-tabs > .form-tab:hover,
.eval-content > .selected-form > .form-tabs > .form-tab:hover {
  background-color: #719fbd;
}
.eval-content > .selected-eval-form > .form-tabs > .form-tab.selected,
.eval-content > .selected-form > .form-tabs > .form-tab.selected {
  background-color: #719fbd;
  color: #ffffff;
}
