.eval-nav > span {
  background-color: #e2e2e2;
  cursor: pointer;
  color: #1c5c85;
}

.eval-nav > span:hover {
  background-color: #719fbd;
}

.load-forms {
  margin: 10px;
  padding: 10px;
  background-color: #e2e2e2;
  cursor: pointer;
  color: #1c5c85;
}

.load-forms:hover {
  background-color: #719fbd;
}

.eval-list {
  padding: 10px;
}

.eval-list > div {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #719fbd;
}

.eval-list > div:hover {
  background-color: #719fbd;
}

.eval-list > div > div > span {
  margin: 5px;
  border: 1px solid #719fbd;
}

.eval-button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #719fbd;
}

.eval-button:hover {
  background-color: #719fbd;
}

.selected-form > div {
  padding: 10px;
  border: 1px solid #719fbd;
}
