.selecteduser {
  background-color: #1c5c85;
  color: #ffffff;
}

.userlist {
    grid-column: span 1;
    display: inline-block;
    width: 300px;
    height: 600px;
    overflow: scroll;
  }

.user,
.selecteduser {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    color: #ffffff;
  }
  
  .user {
    background-color: #e2e2e2;
    color: #333333;
  }
  
  .user:hover {
    cursor: pointer;
    background-color: #719fbd;
  }
  .userpands {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-column: span 3;
  }