.selecteduser {
  background-color: #1c5c85;
  color: #ffffff;
}

.userwrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
  background-color: #f5f5f5;
}

.userlist {
  grid-column: span 1;
  display: inline-block;
  width: 300px;
  height: 600px;
  overflow: scroll;
}

.user,
.selecteduser {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  color: #ffffff;
}

.user {
  background-color: #e2e2e2;
  color: #333333;
}

.user:hover {
  cursor: pointer;
  background-color: #719fbd;
}

.userpands {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-column: span 3;
}

.userdetail {
  grid-column: span 1;
}

.savedornot {
  grid-column: span 1;
  padding: 0px 10px;
}

.servermessage {
  grid-column: span 1;
  padding: 0px 10px;
}

.userwrap .elementTextBox {
  padding: 30px 10px 30px 10px;
}

.userwrap .elementNumber {
  padding: 10px;
}

.userwrap .elementCheckbox {
  padding: 5px 10px;
}

.userwrap .elementButton {
  padding: 10px;
}

.userwrap .elementButton input {
  background-color: #e2e2e2 !important;
}

.loginAsUser,
.statusUser {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  color: #333333;
}

.loginAsUser {
  width: 140px;
  background-color: #bbc9b9;
}

.statusUser {
  width: 140px;
  background-color: #c9bdb9;
}

.loginAsUser:hover,
.statusUser:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #79bd71;
}

.statusUser:hover {
  background-color: #c65c5c;
}
