/* Generic classes */
/*Application Width*/
.cw {
  width: 1200px;
}
.oh {
  overflow: hidden;
}
.dn {
  display: none !important;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  margin: 0 auto;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}
