/* PART BELOW IS ABOUT EXAM EVALUATION PAGE */
ul li.correct > label::after {
  content: ' \2713';
  display: inline-block;
  color: #7fcc0a;
  padding: 0 6px 0 0;
}

ul li.wrong {
  background-color: palevioletred;
  border-radius: 4px;
}

ul li.expected {
  background-color: lightgreen;
  border-radius: 4px;
}

.results-header {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 200;
  font-family: 'Montserrat';
}
.results-header > .r-header-section {
  width: 33%;
  float: left;
  border-right: 1px solid #eee;
}

.results-header > .userData {
  display: block;
  color: #113952;
}
.results-header > .userData .completion-date > #completionDate,
.results-header > .userData .completion-time > #completionTime {
  color: black;
}

.results-header > .formInfo {
  text-align: center;
  color: #0071bc;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-header > .testResults {
  padding: 0.4rem;
}

.results-header > .testResults > .leftHand {
  width: 50%;
  float: left;
}
.results-header > .testResults > .rightHand {
  width: 45%;
  float: right;
  text-align: center;
  border-left: 1px solid #eee;
  height: 100%;
}

.results-header > .userData {
  text-align: left !important;
  padding: 10px;
}

.results-header > .userData,
.results-header > .formInfo,
.results-header > .testResults > .leftHand,
.results-header > .testResults > .rightHand {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.results-header > .testResults > .leftHand > .lhContent > .question-info-row,
.results-header > .testResults > .leftHand > .lhContent > .answer-info-row {
  color: #113952;
}

.results-header > .testResults > .leftHand > .lhContent > div {
  padding: 0.2rem 0 0.2rem 0;
}

.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #correctAnswers {
  color: #6dd76d;
}
.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #wrongAnswers {
  color: #d75454;
}

.results-header
  > .testResults
  > .leftHand
  > .lhContent
  > .answer-info-row
  > #unanswered {
  color: rgb(123, 116, 116);
}

.results-header
  > .testResults
  > .rightHand
  > .rhContent
  > #percentageScore::after {
  content: '%';
  color: black;
  font-family: 'Montserrat';
  font-weight: 600;
}

.fp-powered {
  display: flex;
  width: 13rem;
  align-items: center;
  color: #847e7e;
  font-size: 9pt;
  font-weight: bold;
  font-family: 'Montserrat';
  padding: 0 0.2rem;
}
.fp-powered > a {
  text-decoration: none;
}

.fp-powered > a > img {
  height: 2rem;
  width: 5.8rem;
  margin-left: 0.5rem;
}

fp-powered + div > .form::after {
  content: none;
}

/* PART ABOVE IS ABOUT EXAM EVALUATION PAGE*/
