.content > .builder {
  margin-top: 86px;
}

.builder > .headerContainer,
.forms > .headerContainer,
.data > .headerContainer {
  height: 30px;
  top: 86px;
  width: 100%;
  position: fixed;
  background-color: #e2e2e2;
  z-index: 1;
}

.builder > .headerContainer > .header,
.data > .headerContainer > .header {
  height: 30px;
  width: 1200px;
}

.builder > .headerContainer > .header .back,
.data > .headerContainer > .header .back {
  background-color: #c9c9c9;
  color: rgb(48, 93, 134);
  line-height: 30px;
  height: 30px;
  width: 57px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.builder .header > .mainTabs > a,
.data .header > .mainTabs > a {
  color: #1c5c85;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}

.builder .header > .mainTabs > a.selected,
.data .header > .mainTabs > a.selected {
  background-color: #1c5c85;
  color: #ffffff;
}

.header > .formTitle {
  width: 400px;
  min-height: 20px;
}

.header > .formControls {
  width: 400px;
  margin-left: 20px;
}

.builder > .content {
  padding-top: 40px;
  width: 1200px;
  margin: 0 auto;
}

/* Builder */

.builder > .content > .leftTabs {
  min-height: 100px;
}

.builder > .content > .leftTabs > div {
  list-style: none;
  box-shadow: 0px 3px 10px #00000014;
  background-color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 57px;
}

.builder > .content > .leftTabs > div > a {
  width: 59px;
  height: 57px;
  font-size: 25px;
  line-height: 57px;
  text-align: center;
  display: inline-block;
}

.builder > .content > .leftTabs > div > a,
.builder > .content > .leftTabs > div > a:visited {
  color: rgb(148, 200, 50);
}
.builder > .content > .leftTabs > div > a:hover {
  color: white;
  background-color: rgb(148, 200, 50);
}

.builder > .content > .leftTabs > div > a.selected {
  color: white;
  background-color: rgb(168, 227, 57);
}

.builder > .content > .leftMenu {
  min-height: 500px;
}

.builder > .content > .leftMenu > .leftMenuContents {
  position: fixed;
  top: 126px;
  width: 359px;
  box-shadow: 0px 3px 10px #00000014;
}

.elements > .elementsMessage {
  background-color: #fffcdd;
  color: #646464;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}

.elements > .elementList {
  margin-top: 20px;
}

.elements > .elementList > .element {
  margin: 10px 12px 10px 16px;
  padding: 10px 10px 10px 12px;
  border-radius: 8px;
  font-family: 'Montserrat';
  border: solid 1px #ffffff;
  box-shadow: 0 3px 6px 0 rgba(3, 39, 57, 0.04);
  background-color: #ffffff;
  color: #646464;
  width: 91%;
  cursor: move;
}

.elements > .elementList > .element:hover {
  border: solid 1px #005a87;
  color: #1c5c85;
}

.elements > .elementList > .element:hover .add-element-button {
  visibility: visible;
}

.element-picker-icon-wrapper {
  width: 12%;
  display: inline-block;
  text-align: center;
}

.element-picker-icon {
  color: #7a9eba;
}

.element-picker-text {
  margin: 2px 0 3px 12px;
  display: inline-block;
  width: 76%;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}
.add-element-button {
  height: 16px;
  margin: 4px 0 4px 2px;
  color: #c9c9c9;
  visibility: hidden;
  cursor: pointer;
}

.add-element-button:hover {
  color: #68942f;
}

.builderStage > .formTitle {
  height: 60px;
  line-height: 60px;
  background-color: #fdfdfd;
  color: #1c5c85;
  padding-left: 16px;
  font-size: 18px;
}

.builderStage > .formControls {
  margin-top: 10px;
  background-color: white;
  text-align: right;
  height: 32px;
  padding-right: 0;
}

.builderStage > .formControls > button {
  border: none;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  color: #8cc63f;
  padding: 0 20px;
  margin-left: 10px;
}

.builderStage > .formControls > button.publish {
  background-color: #8cc63f;
  color: #ffffff;
  position: relative;
}

.builderStage > .formControls > button.publish > .publishRequired {
  background-color: red;
  width: 10px;
  height: 10px;
  top: 11px;
  right: 5px;
  float: right;
  border-radius: 10px;
  position: absolute;
}

.builderStage > .form {
  box-shadow: 0px 3px 10px #00000014;
  margin: 0 auto;
}

.form.builder.dragging > * * {
  pointer-events: none;
}

.form.builder > .dropPlaceHolder {
  pointer-events: none;
  height: 80px;
  width: 100%;
  background-color: blue;
  opacity: 0.1;
  border: 3px solid blue;
}

.form.builder > .element {
  border: 1px solid transparent;
}

.form.builder > .element .action {
  display: none;
  border: solid 1px #e2e2e2;
  background-color: #f5f5f5;
  border-radius: 12px;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 0 5px;
}

.form.builder > .element .fl.input .action {
  right: 0px;
  top: -2px;
  display: none;
}

.form.builder > .element .fl.input li:hover .action,
.form.builder > .element .fl.input:hover .checkbox-label + .action {
  display: block;
}

.form.builder .element .action > * {
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}

.form.builder > .element > .action > .sortHandle {
  cursor: move;
  display: inline-flex;
}

.form.builder > .element > .action > .moveButton {
  display: inline-block;
  font-size: 16px;
}

.form.builder > .element:hover,
.form > .element.selected {
  border: 1px solid black;
}

.form.builder > .element:hover > .action,
.form > .element.selected > .action {
  display: inline-flex;
  float: right;
}

.popoverText {
  display: none;
}

.popover-container {
  display: inline-flex;
  position: relative;
}

.popover-container:hover > .popoverText {
  display: block;
  width: 83px;
  height: 20px;
  margin: 0 0 3px;
  padding: 2px 4px 3px 3px;
  border-radius: 4px;
  position: absolute;
  background-color: #113952;
  color: #fff;
  text-align: center;
  top: -25px;
  left: -35px;
  z-index: 9999;
}

.leftMenuContents .element {
  padding: 20px 0px 10px 10px;
}
#qc_required .input {
  float: right;
}
