.data {
  width: 100%;
}

.data .header {
  margin: 0 auto;
}

.data > .formSelectorContainer {
  height: 60px;
  top: 132px;
  width: 100%;
  position: fixed;
}

.data > .formSelectorContainer > .formSelector {
  border-left: 8px solid #113952;
  background-color: white;
  color: #333333;
  font-size: 18px;
  padding-left: 8px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

.data > .formSelectorContainer > .formSelector > .down {
  background-color: #719fbd;
  color: white;
  text-align: center;
  font-size: 22px;
}

.data > .formSelectorContainer > .formSelectorOptions {
  background-color: white;
  border-left: 8px solid #e2e2e2;
  border-bottom: 8px solid #719fbd;
  max-height: 600px;
  overflow: scroll;
}

.data > .formSelectorContainer > .formSelectorOptions ul {
  margin: 0;
  padding: 0;
}

.data > .formSelectorContainer > .formSelectorOptions li {
  list-style: none;
  border: 1px solid transparent;
  border-top: 1px solid rgb(234, 234, 234);
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

.data > .formSelectorContainer > .formSelectorOptions li:hover {
  border: 1px solid black;
}

.data > .dataContent {
  margin-top: 210px;
  background-color: white;
}

.data > .dataContent table.fp_table > tbody > tr {
  height: 32px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.data > .dataContent table.fp_table > tbody > tr.selected {
  background-color: #ddd;
  color: #113952;
}

.data > .dataContent table.fp_table > tbody > tr > td > span.table_caret_right {
  display: table;
  margin: auto;
  font-size: 18px;
}

.data > .dataContent table.fp_table > tbody > tr {
  color: #a0a0a0;
}

.data > .dataContent > .submissionSelector > .submissionActions > * {
  padding: 16px;
  color: #646464;
  font-size: 10px;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  > .buttonContainer {
  text-align: right;
  padding-right: 0;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .csvExportButton {
  border: none;
  background-color: #8cc63f;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .csvExportButton.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.data > .dataContent > .entriesViewer,
.data > .dataContent > .submissionSelector > .noData {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.data > .dataContent > .entriesViewer > .entry {
  margin-bottom: 20px;
  border-left: 2px solid #e2e2e2;
  text-indent: 12px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.83;
}

.data > .dataContent > .entriesViewer > .entry .value input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  overflow: hidden;
  margin-top: 2px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
  position: relative;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}

.data > .dataContent > .entriesViewer > .entry .value .checkbox-label {
  color: #333333;
  display: inline-block;
  margin-top: 0px;
  position: absolute;
  text-indent: 5px;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  user-select: none;
  min-width: 100px;
  border: 1px solid #ffffff;
}

.data > .dataContent > .entriesViewer > .entry .value input[type='radio'] {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
  background-color: #fdfdfd;
  cursor: pointer;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='radio']:checked::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #8cc63f;
  position: absolute;
  margin: 3px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='radio']:checked {
  background-color: #8cc63f;
  border: 1px solid #8cc63f;
}

.data > .dataContent > .entriesViewer > .entry .value .radio-label {
  color: #333333;
  margin-top: -2px;
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #ffffff;
  min-width: 100px;
  text-indent: 5px;
}

.data > .dataContent > .entriesViewer > .entry > .label {
  color: #a0a0a0;
}
.data > .dataContent > .entriesViewer > .entry > .value {
  color: #113952;
  margin-left: 12px;
  text-indent: 0px;
}

.data .text_center input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  overflow: hidden;
  margin-top: 2px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox {
  opacity: 0;
  width: 40px;
  height: 18px;
  z-index: 9999;
  position: relative;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox:checked
  + .slider {
  background-color: #cae1ab;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox
  + .slider {
  position: absolute;
  cursor: pointer;
  background-color: #d9dedc;
  transition: 0.4s;
  width: 40px;
  height: 18px;
  border-radius: 16px;
  margin-top: -24px;
  display: block;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox:checked
  + .slider:before {
  transform: translateX(18px);
  background-color: #8cc63f;
}

.data > .dataContent > .entriesViewer > .entry .value .toggle-label {
  color: #333333;
  display: inline-block;
  position: absolute;
  text-indent: 5px;
  white-space: nowrap;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox
  + .slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -2px;
  background-color: #bec6c4;
  transition: 0.4s;
  border-radius: 12px;
}

.data .text_center input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}

.data .text_center input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
  position: relative;
}
