.data {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 40px;
}

.data > div {
  float: left;
  min-height: 500px;
  border: 1px solid black;
}

.data > .dataForms {
  width: 20%;
}

.data > .dataForms > ul > li {
  cursor: pointer;
}

.data > .dataForms > ul > li.selected {
  font-weight: bold;
}

.data > .submissions {
  width: 40%;
}

.data > .submissions > table {
  width: 100%;
}

.data > .submissions > table > tbody > tr {
  cursor: pointer;
}

.data > .submissions > table > tbody > tr.selected {
  background-color: #ddd;
}

.data > .entries {
  width: 35%;
}