.data {
  width: 100%;
}

.data > .formSelectorContainer {
  top: 116px;
  max-height: 55px;
  width: fit-content;
  width: -moz-fit-content;
  position: sticky;
  z-index: 1;
}

.data > .formSelectorContainer.open {
  top: 126px;
  z-index: 110;
}

.formSelectorContainer.center.closed::before {
  content: '';
  min-height: 10px;
  background: #f5f5f5;
  width: 100%;
  display: block;
}

text[type='category'] tspan {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.data > .formSelectorContainer > .formSelector {
  border-left: 8px solid #113952;
  background-color: white;
  color: #333333;
  font-size: 18px;
  padding-left: 8px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 1px 0 rgba(69, 121, 154, 0.2);
}

.data > .formSelectorContainer > .formSelector > .formSelectorContent {
  max-height: 60px;
  overflow: hidden;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #0071bc;
  width: 96%;
}

.data > .formSelectorContainer > .formSelector > .down {
  background-color: #719fbd;
  color: white;
  text-align: center;
  font-size: 22px;
  width: 4%;
}

.data > .formSelectorContainer > .formSelectorOptions {
  background-color: white;
  border-left: 8px solid #e2e2e2;
  border-bottom: 8px solid #719fbd;
  max-height: 520px;
  overflow: scroll;
}

.data > .formSelectorContainer > .formSelectorOptions ul {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.data > .formSelectorContainer > .formSelectorOptions li {
  list-style: none;
  border: 1px solid transparent;
  border-top: 1px solid rgb(234, 234, 234);
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f5f5f5;
}

.data > .formSelectorContainer > .formSelectorOptions li:hover {
  border: 1px solid black;
}

.data > .dataContent,
.data > .dataStatistics {
  margin-top: 60px;
  background-color: white;
  box-shadow: 0 4px 1px 0 rgba(69, 121, 154, 0.2);
}

.data > .dataStatistics > .selectedSubmissionStatistics {
  font-family: sans-serif;
  background-color: #ffffff;
}

.data .statisticsContainer .questionContainer {
  border-top: 1px solid #eaeaea;
}

.data .statisticsContainer .questionContainer .question {
  padding: 20px 0 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.data .statisticsContainer .questionContainer .response_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 5px 0 10px;
}

.data
  .statisticsContainer
  .questionContainer
  .response_container
  .response_count_container {
  display: flex;
  flex: 0 0 40%;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
}

.data
  .statisticsContainer
  .questionContainer
  .response_container
  .response_count_container
  .response_count_title {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.data
  .statisticsContainer
  .questionContainer
  .response_container
  .response_count_container
  .response_count {
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
}

.data
  .statisticsContainer
  .questionContainer
  .response_container
  .last_responses_container {
  min-height: 49px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 60%;
}

.data .statisticsContainer .questionContainer .last_responses_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.data
  .statisticsContainer
  .questionContainer
  .last_responses_container
  .last_responses_title {
  color: #595959;
  font-size: 16px;
  line-height: 22px;
}

.data
  .statisticsContainer
  .questionContainer
  .last_responses_container
  .last_responses {
  font-size: 14px;
  align-items: center;
  line-height: 2;
  font-style: italic;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}

.recharts-legend-wrapper {
  top: 35px !important;
}

.data
  > .dataStatistics
  > .selectedSubmissionStatistics
  > .submissionResponsesContainer {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.recharts-legend-item-text {
  width: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.data
  > .dataStatistics
  > .selectedSubmissionStatistics
  > .submissionResponsesContainer
  > .submissionResponsesDetails {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  outline: transparent solid 1px;
  flex-flow: row nowrap;
}
.data
  > .dataStatistics
  > .selectedSubmissionStatistics
  > .submissionResponsesContainer
  > .submissionResponsesDetails
  > * {
  width: 33%;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}
.data .detailLabel {
  font-size: 28px;
  color: #1c5c85;
  line-height: 32px;
  margin-bottom: 5px;
}

.data .detailSublabel {
  font-size: 15px;
  color: #616161;
  line-height: 20px;
}

.data > .dataContent table.fp_table > tbody > tr {
  height: 32px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.data > .dataContent table.fp_table > tbody > tr.selected {
  background-color: #ddd;
  color: #113952;
}

.data > .dataContent table.fp_table > tbody > tr > td > span.table_caret_right {
  display: table;
  margin: auto;
  font-size: 18px;
}

.data > .dataContent table.fp_table > tbody > tr {
  color: #a0a0a0;
}

.data > .dataContent > .submissionSelector > .submissionActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.data > .dataContent > .submissionSelector > .submissionActions > * {
  padding: 16px;
  color: #646464;
  font-size: 10px;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  > .buttonContainer
  > button {
  font-size: 13px;
  width: 100px;
  height: 40px;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .csvExportButton {
  border: none;
  background-color: #8cc63f;
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  width: 92px;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .deleteSubmissionButton {
  border: none;
  background-color: #113952;
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  width: 92px;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .csvExportButton.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.data
  > .dataContent
  > .submissionSelector
  > .submissionActions
  .deleteSubmissionButton.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.data > .dataContent > .submissionSelector > .fp_table > tbody > .submission {
  color: #1c5c85;
}

.data
  > .dataContent
  > .submissionSelector
  > .fp_table
  > tbody
  > .submission.read
  * {
  color: grey;
}

.data > .dataContent > .entriesViewer,
.data > .dataContent > .submissionSelector > .noData,
.data > .dataStatistics > .selectedSubmissionStatistics > .noData {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.data > .dataContent > .entriesViewer > .entry {
  margin-bottom: 20px;
  border-left: 2px solid #e2e2e2;
  text-indent: 12px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.83;
}

.data > .dataContent > .entriesViewer > .entry .value .input {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.data > .dataContent > .entriesViewer > .entry .value input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
  position: relative;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}

.data > .dataContent > .entriesViewer > .entry .value .checkbox-label {
  color: #333333;
  margin-top: 0px;
  max-width: calc(100% - 25px);
  overflow: hidden;
  user-select: none;
  min-width: 60px;
  display: inline-block;
  word-break: break-all;
  white-space: break-spaces;
  padding-right: 5px;
}

.data > .dataContent > .entriesViewer > .entry .value input[type='radio'] {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  transition-duration: 0.3s;
  outline: none;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: top;
  margin-top: 3px;
  display: inline-block;
  margin-right: 5px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='radio']:checked::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #8cc63f;
  position: absolute;
  margin: 3px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='radio']:checked {
  background-color: #8cc63f;
  border: 1px solid #8cc63f;
}

.data > .dataContent > .entriesViewer > .entry .value .radio-label {
  color: #333333;
  margin-top: 0px;
  max-width: calc(100% - 25px);
  overflow: hidden;
  user-select: none;
  min-width: 60px;
  display: inline-block;
  word-break: break-all;
  white-space: break-spaces;
}

.data > .dataContent > .entriesViewer > .entry > .label {
  color: #a0a0a0;
  word-break: break-word;
  text-indent: 0px;
  padding-left: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.data > .dataContent > .entriesViewer > .entry > .value {
  color: #113952;
  margin-left: 12px;
  text-indent: 0px;
  word-break: break-word;
  position: relative;
  display: block;
}

.data .text_center input[type='checkbox'] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  overflow: hidden;
  margin-top: 2px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox {
  opacity: 0;
  width: 40px;
  height: 18px;
  z-index: 9999;
  position: relative;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox:checked
  + .slider {
  background-color: #cae1ab;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox
  + .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9dedc;
  transition: 0.4s;
  width: 40px;
  height: 18px;
  border-radius: 16px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox:checked
  + .slider:before {
  background-color: #8cc63f;
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.data > .dataContent > .entriesViewer > .entry .value .toggle-label {
  max-width: calc(100% - 50px);
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  input[type='checkbox'].toggle-checkbox
  + .slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -2px;
  background-color: #bec6c4;
  transition: 0.4s;
  border-radius: 12px;
}

.data .text_center input[type='checkbox']:checked {
  border: 1px solid #a0a0a0;
  background-color: #8cc63f;
}

.data .text_center input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
  position: relative;
}

.dataContent > .submissionSelector > .unreadSwitchContainer .unreadSwitch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.dataContent
  > .submissionSelector
  > .unreadSwitchContainer
  .unreadSwitch
  input {
  opacity: 0;
  width: 0;
  height: 0;
}

.unreadSwitchContainer .unreadSwitch > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.unreadSwitchContainer .unreadSwitch > .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.unreadSwitchContainer .unreadSwitch > input:checked + .slider {
  background-color: #1c5c85;
}

.unreadSwitchContainer .unreadSwitch > input:focus + .slider {
  box-shadow: 0 0 1px #1c5c85;
}

.dataContent > .submissionSelector > .unreadSwitchContainer {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.dataContent > .submissionSelector > .unreadSwitchContainer label {
  margin-right: 5px;
}

.dataContent > .submissionSelector > .unreadSwitchContainer .unreadSwitchLabel {
  color: #646464;
  vertical-align: sub;
}

.dataContent
  > .submissionSelector
  > .unreadSwitchContainer
  .unreadSwitchLabel.active {
  color: #1c5c85;
}

.dataContent
  > .submissionSelector
  > .unreadSwitchContainer
  .unreadSwitch
  > input:checked
  + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.data > .dataContent > .entriesViewer > .entry .value .nps {
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: fit-content;
  padding: 0;
}

.data > .dataContent > .entriesViewer > .entry .value .nps li {
  display: inline-flex;
}

.data > .dataContent > .entriesViewer > .entry .value .nps [type='radio'] {
  display: none;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  .nps
  .net-promoter-score-label {
  display: inline-block;
  border: 1px solid #1c5c85;
  background-color: #fff;
  color: #1c5c85;
  width: 40px;
  height: 30px;
  margin: 0 5px;
  user-select: none;
  text-align: center;
  line-height: 28px;
}

.data
  > .dataContent
  > .entriesViewer
  > .entry
  .value
  .nps-input:checked
  + label {
  border: 1px solid #1c5c85;
  background-color: #1c5c85;
  color: #fff;
}
