.content {
  background-color: transparent !important;
}

.forms {
}

.forms > .formsContent {
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.forms table.fp_table > thead > tr > th:first-child,
.forms table.fp_table > tbody > tr > td:first-child {
  text-align: center;
}

.forms table.fp_table > tbody > tr {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(234, 239, 242);
}

.forms table.fp_table > tbody > tr:last-child {
  border-bottom: none;
}

.forms table.fp_table > thead > tr > th.mw {
  width: 20px;
}

.forms table.fp_table > thead > tr > th.name {
  width: 700px;
}

.forms table.fp_table > thead > tr > th.responses {
  width: 140px;
}

.forms table.fp_table > thead > tr > th.createdAt {
  width: 140px;
}

.forms table.fp_table > thead {
  position: sticky;
  position: -webkit-sticky;
  top: 86px;
  z-index: 10;
}

.forms table.fp_table > tbody > tr > td.name {
  color: #333333;
  font-size: 18px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 680px;
}

.forms table.fp_table > tbody > tr > td.name > a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forms table.fp_table > tbody > tr:hover .name > a {
  color: #45799a;
}
.forms table.fp_table > tbody > tr > td.responses > .responsesContainer {
  display: flex;
}
.unreadBadge {
  min-width: 20px;
  height: 20px;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.36;
  background-color: #d93434ff;
  border-radius: 50%;
  transform: translate(-12px, -6px);
  border: 0.15rem solid white;
  text-rendering: optimizeLegibility;
}

.forms table.fp_table > tbody > tr {
  line-height: 20px;
  transition: transform 0.2s;
}

.forms table.fp_table > tbody > tr:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(69, 121, 154, 0.2);
}

.forms table.fp_table .responseCount {
  /*background-color: #1c5c85;*/
  display: block;
  text-decoration: none;
  color: #1c5c85;
  font-size: 16px;
  border-radius: 12px;
  width: 54px;
  height: 29px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  border: 2px solid;
}

.forms table.fp_table .unreadCount {
  display: block;
  text-decoration: none;
  background-color: #1c5c85;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  width: 57px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.forms table.fp_table .unreadCount.zero {
  background-color: #c9c9c9;
}

.forms table.fp_table tr .actions {
  visibility: hidden;
}

.forms table.fp_table tr:hover .actions {
  visibility: visible;
}

.forms table.fp_table tr .actions > .inactive_view:hover {
  color: rgb(225, 225, 225);
  background-color: #ffff;
}

.forms table.fp_table tr .actions > .inactive_clone:hover {
  color: rgb(225, 225, 225);
  background-color: #ffff;
}

.forms table.fp_table tr .actions > * {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: rgb(225, 225, 225);
}

.forms table.fp_table .actions > *:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(48, 93, 134);
  border-radius: 40px;
  cursor: pointer;
}

.forms table.fp_table .actions svg {
  font-size: 18px;
}

.forms > .newButtonContainer {
  width: 1200px;
  margin: 0 auto;
}

.forms > .newButtonContainer > a {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #719fbd;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forms > .newButtonContainer > .disabledNewForm {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #c9c9c9;
  display: inline-block;
  margin-top: 20px;
}

.nav_add_new_form_link {
  display: inline-block;
  position: fixed;
  top: 25px;
  left: 57%;
  z-index: 10;
  /*float: right;*/
  color: #113952;
}

.nav_add_new_form_link .popover-container:hover > .popoverText {
  display: block;
  width: 120px;
  height: 20px;
  margin: 0;
  padding: 4px 3px;
  border-radius: 4px;
  position: absolute;
  background-color: #113952;
  color: #fff;
  text-align: center;
  top: 35px;
  left: -43px;
  z-index: 9999;
  font-size: 12px;
}
