.homepageContainer {
  background-color: white;
}

.homepageContainer > .homepage {
}
.homepageContainer > .homepage > .homepageRight {
  text-align: right;
}
.homepageContainer > .homepage .logoContainer {
  margin-top: 118px;
}
.homepageContainer > .homepage .logoContainer img {
  width: 100%;
}

.homepageContainer > .homepage .mainProperties {
  margin-top: 80px;
}

.homepageContainer > .homepage .mainProperties > *,
.homepageContainer > .homepage .linkToRepo > * {
  width: 100%;
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.homepageContainer > .homepage .mainProperties > * > svg,
.homepageContainer > .homepage .linkToRepo > * > svg {
  float: left;
  height: 57px;
  line-height: 57px;
  margin-left: 15px;
}

.homepageContainer > .homepage .mainProperties > .opensource {
  background-color: #8CC63F;
}

.homepageContainer > .homepage .mainProperties > .lightweight {
  background-color: #0071BC;
}

.homepageContainer > .homepage .mainProperties > .fast {
  background-color: #113952;
}

.homepageContainer > .homepage .linkToRepo {
  margin-top: 40px;
}

.homepageContainer > .homepage .linkToRepo > a {
  display: block;
  border: 1px solid #707070;
  color: #646464;
  text-decoration: none;
}

.homepageContainer > .footer {
  color: #1C5C85;
  font-size: 18px;
  margin-top: 50px;
  padding-bottom: 40px;
}

.homepageContainer > .footer a{
  text-decoration: none;
  color: inherit;
}
