.loginForm {
  overflow: hidden;
  width: 500px;
  margin: 40px auto 0;
}
.login-wrapper > .footer .col-8-16 {
  text-align: center;
}
.loginForm form {
  width: 332px;
  margin: auto;
}
.wellcome-message {
  text-align: center;
  color: #113952;
  font-family: Montserrat;
  font-weight: 600;
  margin: 16px;
  font-size: 16px;
}
.loginForm .element {
  margin: 0 auto 15px;
}

.content {
  background-color: white;
}
.pale-border {
  border: solid 1px #e2e2e2;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

.picture-bg {
  background-color: #00538a;
  padding-top: 25px;
  padding-bottom: 25px;
}
.login-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-header {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #0c2738;
  padding: 16px;
  margin-top: 9px;
}

.forgot-pass {
  color: #0c2738;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  margin: -99px auto 100px;
  width: 322px;
}

.forgot-pass .forgot-pass-span {
  float: right;
}

.google-sign-in > button {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  width: 332px;
  color: #be0000;
  background-color: #f5f5f5;
  border: none;
  margin: auto;
  display: block;
}
.google-sign-in > button:hover {
  color: #ffffff;
  background-color: #be0000;
  border: none;
  cursor: pointer;
}

.google-sign-in > button[disabled]{
  filter: grayscale(1);
}

.do-not-have {
  width: 100%;
  height: 19px;
  margin: 10px 0px 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #113952;
  font-style: italic;
}

.have-trouble {
  width: 100%;
  height: 19px;
  margin: auto;
  padding: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #113952;
}

.login-wrapper > .footer {
  color: #1c5c85;
  font-size: 18px;
  margin-top: 50px;
  padding-bottom: 40px;
  width: 100%;
}

.login-wrapper > .footer a {
  text-decoration: none;
  color: inherit;
}
.message-back {
  width: 100%;
  height: 20px;
  padding-bottom: 35px;
  font-family: Montserrat;
  font-style: italic;
  text-align: center;
  color: #ff5050;
  margin-bottom: 10px;
}

.message-back.message-success,
.message-back.succesfully,
.message-back.success {
  color: #8cc63f;
}

.message-back.warning {
  color: #ffbb33;
}

.or-seperator {
  width: 100%;
  height: 19px;
  font-family: Montserrat;
  text-align: center;
  color: #a0a0a0;
}

.for-login .or-seperator {
  margin-top: -20px;
}

.for-sign-up .or-seperator {
  margin-top: 0px;
}

.for-login + .do-not-have {
  margin-top: 70px;
}

.for-sign-up ~ .have-account {
  margin-bottom: 20px;
}

.google-sign-in {
  margin: 10px auto;
}

.google-sign-in-button:hover {
  background-color: #ae2317;
  color: #ffffff;
}

.google-sign-in-button {
  width: 332px;
  font-family: Montserrat;
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #be0000;
  background-color: #ffffff;
  border: solid 1px #ae2317;
}
@media only screen and (max-width: 767px) {
  .loginForm {
    width: 100%;
  }
  .login-wrapper > .footer .col-8-16 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .login-wrapper > .footer {
    margin-top: 25px;
    padding-bottom: 0px;
  }
}
