.have-account {
  font-family: Montserrat;
  text-align: center;
}

.signup-mainContent {
  padding-top: 15px;
  /*padding-bottom: 15px;*/
}

.sign-up-success {
  padding: 0px 20px;
  font-size: large;
  color: #00d101;
  text-align: center;
}

.signup-email {
  font-weight: 700;
}

.signupForm .elementButton {
  margin-top: 50px;
}

.tosContainer {
  user-select: none;
  width: 332px;
  position: relative;
  top: -100px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  height: 0;
}

.tosContainer > a {
  color: #0079d3 !important;
  font-weight: 500 !important;
}
.tosContainer > a:hover {
  text-decoration: underline;
}

.loginForm a {
  text-decoration: none;
  color: #646464;
}

.loginForm a:hover {
  color: #1c5c85;
}

.viContainer {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.viCharacter {
  color: #333;
  border: 2px solid #1c5c85;
  border-radius: 3px;
}

.viCharacter--inactive {
  color: gainsboro;
  border-color: grey;
  background: white;
}
.resend-verification {
  padding: 15px 40px;
  width: 100%;
  font-size: medium;
  color: #4a4747;
  font-family: 'Montserrat';
  margin: 0 0 50px 0;
}

.resend-button {
  float: right;
  border: none;
  background: none;
  text-decoration: underline;
  color: #08089f;
  font-weight: 500;
  cursor: pointer;
}

.viContainer--loading {
  opacity: 0.5;
  pointer-events: none;
}

button.resend-button:disabled {
  color: #4a4747;
  cursor: not-allowed;
}
