.have-account {
  font-family: Montserrat;
  text-align: center;
}

.signup-mainContent {
  padding-top: 15px;
  /*padding-bottom: 15px;*/
}

.sign-up-success {
  padding: 0px 20px;
  font-size: large;
  color: #00d101;
  text-align: center;
}

.signup-email {
  font-weight: 700;
}

.signupForm .elementButton {
  margin-top: 50px;
}

.tosContainer {
  user-select: none;
  width: 332px;
  position: relative;
  top: -100px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  height: 0;
}

.tosContainer > a {
  color: #0079d3 !important;
  font-weight: 500 !important;
}
.tosContainer > a:hover {
  text-decoration: underline;
}

.loginForm a {
  text-decoration: none;
  color: #646464;
}

.loginForm a:hover {
  color: #1c5c85;
}
