.template-component-wrapper {
  background: white;
  height: calc(100vh - 130px);
  overflow: hidden;
  width: 1200px;
}

.main-screen {
  width: 1200%;
  background: #fdfdfd;
  height: 100%;
  transition: all ease-in-out 0.7s;
}

.main-screen.expanded {
  transform: translateX(-1200px);
}

.main-screen > .template-details > .vertical-back {
  animation: hide-slide 1.5s ease forwards;
}

.main-screen.expanded > .template-details > .vertical-back {
  animation: slide-unhide 1s ease forwards;
}

.main-screen > .template-details > .template-details-container {
  animation: hide-slide 3s ease forwards;
}

.main-screen.expanded > .template-details > .template-details-container {
  animation: slide-unhide 0.5s ease forwards;
}

.main-screen > .templates-browser {
  width: 1200px;
  float: left;
}

.main-screen > .template-details {
  width: 1200px;
  float: left;
  display: block;
  height: 100%;
}

.main-screen > .templates-browser > .templates-browser-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
}

.main-screen > .templates-browser > .templates-browser-header > .search-box {
  height: 2rem;
  margin: 10px;
  border-radius: 3px;
  border: 1px gainsboro solid;
  padding: 10px;
}

.rightColumn > .selected-template-wrapper {
  height: calc(100vh - 130px);
  overflow: scroll;
}
.rightColumn > .selected-template-wrapper > img {
  height: auto;
}

/* Details Title */
.template-details-container > .selected-template-title {
  background: #fdfdfd;
  height: 58px;
  text-align: left;
  font-family: Montserrat;
  font-size: 20px;
  padding: 18px 10px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.18);
  margin-bottom: 3px;
}

.template-component-wrapper
  > .main-screen
  > .templates-browser
  > .templates-browser-header
  > .templates-title {
  padding: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1c5c85;
  background: #fdfdfd;
}

.screen {
  display: block;
  width: 370px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fbfbfb;
  border-radius: 1px;
  margin: 0 auto;
}

.screen img {
  width: 100%;
  min-height: 500px;
  object-fit: contain;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 5px;
  /*-webkit-transition: transform 4s;*/
  /*-moz-transition: transform 4s;*/
  /*-ms-transition: transform 4s;*/
  /*-o-transition: transform 4s;*/
  /*transition: transform 4s;*/
}

.screen:hover img {
  transform: translateY(calc(-100% + 500px));
  -webkit-transition: transform 6s;
  -moz-transition: transform 6s;
  -ms-transition: transform 6s;
  -o-transition: transform 6s;
  transition: transform 6s;
}

.template-card.selected {
  border: 2px solid #1c5c85;
}

.template-card.selected > * rect {
  fill: #0071bc !important;
}

.template-card.selected .template-title {
  color: #0071bc;
}

.templates-browser-content {
  height: calc(100vh - 240px);
  padding-left: 15px;
  overflow-y: scroll;
  background: #fdfdfd;
}

.templates-browser-content > .template-group {
  text-transform: capitalize;
  width: 100%;
  margin: 10px 0 10px 0;
  font-family: Montserrat;
}

.templates-browser-content > .template-group > .template-count {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: #f5f5f5;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.template-controls > a > button {
  background: none;
  border: none;
  color: #68942f;
  text-decoration: underline;
  cursor: pointer;
  margin: 2px;
}

.template-card {
  float: left;
  width: 23.4rem;
  height: 37.5rem;
  background-color: white;
  transition: 0.3s;
  border-radius: 8px;
  border: solid 2px transparent;
  margin: 4px;
  text-decoration: none;
  box-shadow: 0 3px 6px 0 rgba(3, 39, 57, 0.04);
}

.template-card:hover {
  border: solid 2px #306fb6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.template-info {
  padding: 4px;
  height: 40px;
}

.template-card > .template-info > .template-title {
  text-align: -moz-center;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #646464;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-back {
  float: left;
  display: block;
  width: 3%;
  height: inherit;
  cursor: pointer;
  background: #1c5c85;
  transition: all 1s;
}

.vertical-back > svg {
  position: relative;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.vertical-back:hover {
  background: #0071bc;
}

.template-details > .template-details-container {
  width: 97%;
  float: left;
}

.template-details > .template-details-container > .template-details-content {
  display: block;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn {
  display: block;
  float: left;
  width: 30%;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > .template-actions {
  display: flex;
  justify-content: space-between;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > .template-actions
  > .viewButton {
  color: #1c5c85;
  background: white;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #1c5c85;
  height: 30px;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > .template-actions
  > .viewButton:hover {
  background: #0071bc;
  border: 1px solid #0071bc;
  color: white;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > .template-actions
  > .cloneButton {
  color: white;
  background: #1c5c85;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #1c5c85;
  height: 30px;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > .template-actions
  > .cloneButton:hover {
  background: #0071bc;
  border: 1px solid #0071bc;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .rightColumn {
  display: block;
  float: left;
  width: 70%;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > div {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.template-details
  > .template-details-container
  > .template-details-content
  > .leftColumn
  > div
  > span {
  font-weight: 600;
  color: #1c5c85;
}

@keyframes slide-unhide {
  0%,
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-slide {
  0% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}
