.invite-main {
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: #0c2738;
  line-height: 1.38;
}
.invite-main {
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: #0c2738;
  line-height: 1.38;
}
.invite-main div {
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: #0c2738;
  line-height: 1.38;
}
