.tag-controls form {
  display: flex;
}

.tag-controls input[type='text'] {
  width: 100%;
  outline: 0;
  border: solid 1px #c9c9c9;
}

.tag-controls input[type='submit'] {
  font-family: Montserrat;
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  width: 20%;
  min-height: 44px;
  border: 2px solid #9ee048;
  outline: none;
  float: right;
  color: #fff;
  background-color: #9ee048;
  cursor: pointer;
}
.tag-controls input[type='submit']:hover {
  background-color: #fff;
  color: #9ee048;
}

.tag-controls input[type='eee'] {
  font-weight: 700;
  font-size: 16px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  width: 100%;
  color: #1c5c85;
  background-color: #f5f5f5;
  border: none;
}

.tags-wrapper {
  padding: 20px 10px 10px 10px;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 7px;
}

.tags-list > .tag {
  background: #5cb85c;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  border-radius: 3px;
  margin: 3px 3px 2px 0;
}

.tags-list > .tag > .tag-close {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 0 5px;
  padding: 0 2px 0 2px;
}

.tags-label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tag {
  display: block;
  max-height: 25px;
}

.formProperties > .infernal > .element {
  font-family: 'Montserrat', sans-serif;
}

.formProperties > .infernal > .elementRadio > .input {
  clear: both;
}
.formProperties > .infernal > .elementRadio > .input > ul {
  padding: 0;
}

.formProperties > .infernal > .elementRadio > .input > ul > li {
  display: block;
  padding-bottom: 10px;
  padding-left: 5px;
}
.formProperties > .infernal > .elementRadio > .input > ul > li > label {
  margin-left: 5px;
}

.formProperties > .autoPageBreakForm {
  padding-bottom: 1rem;
}

.formProperties > .autoPageBreakForm {
  background: unset;
}
.formProperties > .infernal:hover,
.formProperties > .tags-wrapper:hover {
  background: gainsboro;
  border-radius: 3px;
}

.formProperties > .infernal,
.formProperties > .tags-wrapper {
  margin-top: 7px;
}

.formProperties > .infernal:focus-within,
.formProperties > .tags-wrapper:focus-within {
  background: gainsboro;
  border-radius: 3px;
}

.formProperties > .autoPageBreakForm > .element.elementTextBox > .input > input,
.formProperties
  > .autoPageBreakForm
  > .element.elementTextArea
  > .input
  > input {
  padding: 0.2rem 1rem;
  width: 70%;
}

.formProperties > .autoPageBreakForm > .element.elementTextBox,
.formProperties > .autoPageBreakForm > .element.elementTextArea {
  padding: 0.2rem 2rem;
}

.formProperties > .autoPageBreakForm > .element.elementNumber {
  padding: 0.2rem 2rem;
}
.formProperties > .autoPageBreakForm > .element.elementNumber > .input {
  width: 20%;
  clear: both;
  margin-top: 5px;
}
.formProperties > .autoPageBreakForm > .element.elementNumber > .input > input {
  width: 100%;
}

.formProperties
  > .autoPageBreakForm.autoPageBreakDisabled
  > .element.elementTextArea,
.formProperties
  > .autoPageBreakForm.autoPageBreakDisabled
  > .element.elementTextBox,
.formProperties
  > .autoPageBreakForm.autoPageBreakDisabled
  > .element.elementNumber {
  display: none;
}

.formProperties label[for='q_5_1']::after {
  content: 'BETA';
  padding: 2px;
  font-size: 8pt;
  background: #6399bb;
  color: white;
  border-radius: 4px;
  margin-left: 2px;
  font-weight: bold;
  position: absolute;
}

.formProperties .popover-container {
  float: right;
  position: relative;
  top: 15px;
  left: -20px;
}

.formProperties .popover-container:hover > .popoverText {
  width: 12rem;
  height: fit-content;
  top: -65px;
  left: -170px;
}

.formProperties > .adv-settings {
  padding: 20px 10px 10px 10px;
}
.formProperties > .adv-settings > .adv-settings-summary {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.formProperties > .adv-settings > .adv-settings-summary > .adv-settings-icon {
  color: #1c5c85;
}

.formProperties
  > .adv-settings
  > .adv-settings-summary::-webkit-details-marker {
  display: none;
  color: transparent;
  font-size: 0;
}
.formProperties > .adv-settings > .adv-settings-summary::marker {
  display: none;
  color: transparent;
  font-size: 0;
}

.formProperties > .adv-settings > .adv-settings-row {
  background: #fbfbfb;
  display: flex;
}
