.tag-controls form {
  display: flex;
}

.tag-controls input[type='text'] {
  width: 100%;
}

.tag-controls input[type='submit'] {
  font-family: Montserrat;
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  width: 20%;
  min-height: 44px;
  border: 2px solid #9ee048;
  outline: none;
  float: right;
  color: #1c5c85;

  background-color: #f5f5f5;
}
.tag-controls input[type='submit']:hover {
  background-color: #9ee048;
  cursor: pointer;
  color: #ffffff;
}

.tag-controls input[type='eee'] {
  font-weight: 700;
  font-size: 16px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  width: 100%;
  color: #1c5c85;
  background-color: #f5f5f5;
  border: none;
}

.tags-wrapper{
  padding: 20px 10px 10px 10px;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 7px;
}

.tags-list span {
  background: #5cb85c;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin: 3px 3px 2px 0;
}

.tags-list span:after {
  content: 'x';
  float: right;
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom:5px;
  cursor: pointer;
}

.tags-label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tag {
  display: block;
  max-height: 25px;
}
