.formRules-wrapper {
  width: 95%;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
}

.formRules-wrapper .addNewRule-button {
  margin-left: 23px;
  border: 1px solid #005a87;
  border-radius: 8px;
  background: #f5f5f5;
  width: 400px;
  height: 42px;
  text-align: left;
  padding: 0 1rem 0 1rem;
  color: #005a87;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.formRules-wrapper .addNewRule-button.active {
  border-radius: 8px 0 0 8px !important;
  border-right: none;
}

.formRules-wrapper .addNewRule-button:hover {
  background: #005a87;
  color: #fff;
}

.formRules-wrapper .addNewRule-button.active:hover {
  background: rgb(0, 90, 135);
  background: linear-gradient(
    90deg,
    rgba(0, 90, 135, 1) 0%,
    rgba(0, 90, 135, 1) 49%,
    rgba(245, 245, 245, 1) 100%
  );
  color: white;
}

.formRules-title {
  font-family: 'Montserrat';
  font-size: 24px;
  padding: 1rem;
}

.formRules-list {
  padding-left: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.formRules-list .noRule {
  font-family: 'Montserrat';
  font-weight: 500;
}

.formRules-list.build,
.formRules-list.typeSelect {
  opacity: 0.3;
  filter: grayscale(100%);
  pointer-events: none;
}

.ruleBuilder-wrapper {
  width: 50%;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
  margin-top: 44px;
  visibility: hidden;
  opacity: 0;
}

.ruleBuilder-wrapper.build {
  visibility: visible;
  opacity: 1;
}

.ruleBuilder-container.showHide > .ruleBuilder-header {
  background-color: #e2f6ca;
  color: #68942f;
}

.ruleBuilder-container.showHide > .ruleBuilder-content {
  background: #effae2;
}

.ruleBuilder-container.changeTyPage > .ruleBuilder-header {
  /*  TODO: will do the same as above, but with blue colors */
  background-color: #005a875c;
  color: #005a87;
}

.ruleBuilder-container.changeTyPage > .ruleBuilder-content {
  /*  TODO: will do the same as above, but with blue colors */
}

.ruleBuilder-container.changeRequiredStatus > .ruleBuilder-header {
  background-color: #dd3d3d5c;
  color: #dd3d3d;
}

.ruleBuilder-container.changeRequiredStatus > .ruleBuilder-content {
  background: #dd3d3d12;
}

.ruleBuilder-wrapper .addRule-button {
  box-shadow: none !important;
}

.ruleBuilder-header {
  font-size: 14px;
  font-weight: 600;
  padding: 0.7rem;
}

.ruleBuilder-content {
  background: #005a8712;
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1.1rem 1.1rem 1.1rem;
}

.ruleBuilder-content .input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ruleBuilder-content .input-block input:not([type='checkbox']),
.ruleBuilder-content .input-block select {
  width: 100%;
  height: 45px !important;
  border-radius: 8px !important;
  border: 1px solid #c9c9c9 !important;
  color: #646464 !important;
  padding-left: 0.8rem !important;
}

.ruleBuilder-content .input-block > .input-block-title {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 600;
}

.ruleBuilder-content .input-block input:focus,
.ruleBuilder-content .input-block select:focus,
.ruleBuilder-content .input-block input:hover,
.ruleBuilder-content .input-block select:hover {
  border: 1px solid #005a87;
  color: #005a87;
}

.ruleBuilder-content .fieldLink-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.ruleBuilder-content .fieldLink-row > div:first-of-type {
  flex: 2 1 auto;
}

.ruleBuilder-content .fieldLink-row > div:last-of-type input:checked {
  background: #005a87;
}

.formRule {
  width: 400px;
  height: fit-content;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  display: block;
}
.formRule > .formRule-header {
  background-color: #e2f6ca;
  font-size: 14px;
  font-weight: 600;
  padding: 0.7rem;
  color: #68942f;
}

.formRule.showHide > .formRule-header {
  background-color: #e2f6ca;
  color: #68942f;
}

.formRule.showHide > .formRule-body {
  background: #effae2;
}

.formRule.changeTyPage > .formRule-header {
  background-color: #005a875c;
  color: #005a87;
}

.formRule.changeTyPage > .formRule-body {
  background: #005a8712;
}

/*// same as above but for .changeRequiredStatus class and with pastel red colors*/

.formRule.changeRequiredStatus > .formRule-header {
  background-color: #dd3d3d5c;
  color: #dd3d3d;
}

.formRule.changeRequiredStatus > .formRule-body {
  background: #dd3d3d12;
}

.formRule > .formRule-header > .formRule-controls {
  float: right;
}

.formRule > .formRule-header > .formRule-controls > * {
  color: gray;
  cursor: pointer;
}

.formRule > .formRule-header > .formRule-controls > .deleteRule:hover {
  color: #dd3d3d;
}

.formRule > .formRule-header > .formRule-controls > .editRule:hover {
  color: #005a87;
}

.formRule > .formRule-body {
  background: #effae2;
  color: #a0a0a0;
  padding: 0.7rem;
  height: 100%;
  word-break: break-all;
  font-weight: 700;
}

.formRule-body > .ifField,
.formRule-body > .ifValue,
.formRule-body > .thenField {
  color: #1c5c85;
  margin: 0 2px 0 2px;
  font-weight: 500;
}

.formRule-body > .ifOperator,
.formRule-body > .thenCommand {
  color: #a0a0a0;
  margin: 0 2px 0 2px;
  font-weight: 700;
}

.rule-selector {
  display: flex;
  flex-wrap: wrap;
  margin-top: 44px;
  width: 100%;
}

.rule-selector .rule {
  /*width: calc(33.3333% - 1rem);*/
  height: 5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 190px;
}

.rule-selector .rule:hover {
  transform: scale(1.03);
}

.rule-selector .rule.selected {
  background-color: #007bff;
  color: #fff;
}

.rule-selector .rule-icon {
  margin-right: 0.5rem;
}

.rule-selector .rule-display {
  font-weight: bold;
}

.rule-selector .rule-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rule:not(:hover) {
  background: white !important;
  /*color: black !important;*/
}

.rule.showHide {
  background-color: #e2f6ca;
  color: #68942f;
}

.rule.changeTyPage {
  background-color: #005a875c;
  color: #005a87;
}

.rule.changeRequiredStatus {
  background-color: #dd3d3d5c;
  color: #dd3d3d;
}
