.postSubmission-wrapper {
  display: block;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
}

.postSubmission-message {
  background-color: #fffcdd;
  color: #646464;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}
.thankYouPage-preview {
  width: 100%;
  background-color: #ffffff;
}

.thankYouPage-preview[contenteditable='true'] .testing,
.thankYouPage-preview[contenteditable='true'] .texting {
  border: 2px dotted #c8c2c2;
}

.thankYouPage-preview[contenteditable='true'] .testing:hover,
.thankYouPage-preview[contenteditable='true'] .texting:hover,
.thankYouPage-preview[contenteditable='true'] .testing:focus,
.thankYouPage-preview[contenteditable='true'] .texting:focus {
  border: 2px dotted #646464;
}

[hidden] {
  display: none;
}
.thankYouPage-preview .border-2 {
  height: 80px;
  background-color: #f5f5f5;
}
.thankYouPage-preview .f-icon {
  margin-left: 20%;
  margin-top: 12px;
  width: 57px;
  height: 57px;
}
.thankYouPage-preview .xy {
  width: 349px;
  height: 302px;
}

.thankYouPage-preview .big-box {
  height: 614px;
  display: flex;
  align-items: center;

  justify-content: center;
  font-family: Montserrat;
  color: red;
}

.thankYouPage-preview .testing {
  font-family: Montserrat;
  color: #0071bc;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  max-width: 640px;
  line-height: 45px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.thankYouPage-preview .texting {
  padding: 0.2rem;
  font-weight: 500;
  font-size: 18px;
  font-family: Montserrat;
  color: #113952;
  width: calc(100% - 20px);
  max-width: 640px;
  margin-bottom: 20px;
  line-height: 1.56;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.thankYouPage-preview .note {
  text-align: center;
  font-size: 18px;
  color: #0c2738;

  width: 495px;
  height: 22px;
  margin-left: 51%;
}

.thankYouPage-preview .home-page {
  color: #1c5c85;
  font-size: 16px;
  text-align: center;
  width: 104px;
  height: 19px;
  margin-left: 73.5%;
  background-color: #f5f5f5;
  line-height: 1.38;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  letter-spacing: 0.8px;
  margin-top: 25px;
}
.thankYouPage-preview .main-screen {
  height: 800px;
}
.thankYouPage-preview .error-found span {
  font-size: 60px;
  width: 495px;

  height: 73px;
}
.thankYouPage-preview .formpress-logo {
  margin-left: 53%;
  width: 203px;

  height: 58px;
}
.thankYouPage-preview .file {
  width: 495px;
  margin-left: 94px;
  margin-top: -5px;
  font-size: 18px;
  font-weight: normal;
}
.thankYouPage-preview .not-found {
  margin-left: 20px;
  margin-right: 28px;
}
.thankYouPage-preview .found-404 {
  margin-right: 123px;
  color: #0c2738;
  font-weight: bold;
}
.thankYouPage-preview .free-form {
  text-align: center;
  color: #113952;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.75;
}
.thankYouPage-preview .submit-photo {
  width: 349px;
  height: 302px;
}
.thankYouPage-preview .Group_170 {
  scale: 0.5;
}

.thankYouPage-preview .click {
  text-decoration: underline;
  color: #0071bc;
  font-weight: bold;
}
.thankYouPage-preview .upper-box {
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (max-width: 700px) {
  .thankYouPage-preview .big-box {
    display: grid;
    height: 434px;
  }
  .thankYouPage-preview .free-form {
    margin-left: 100px;
    font-size: 11px;
  }

  .thankYouPage-preview .Group_170 {
    margin-left: 0px;
    width: 190px;
    height: 45px;
  }
  .thankYouPage-preview .testing {
    text-align: center;
    font-size: 16px;
    margin: 0 10px 10px;
    width: calc(100% - 20px);
    line-height: 25px;
  }
  .thankYouPage-preview .texting {
    text-align: center;
    font-size: 11px;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
  }
  .thankYouPage-preview .submit-photo {
    width: 180px;
    height: 133px;
    display: flex;
    margin: auto;
  }
  .thankYouPage-preview .free-form {
    margin-left: 0px;
    text-align: center;
  }
  .thankYouPage-preview .big-box {
    margin-left: 0px;
  }
}

.evaluatePage-preview .results-header {
  position: unset !important;
}

.evaluatePage-preview .question-placeholder {
  background: #e2e2e2;
  width: 100%;
  display: block;
  clear: both;
  border-radius: 3px;
}
.evaluatePage-preview .question-placeholder2 {
  background: #e2e2e2;
  width: 60%;
  display: block;
  clear: both;
  border-radius: 3px;
  margin-top: 10px;
}
.evaluatePage-preview .answer-placeholder {
  background: #e2e2e2;
  width: 580px;
  display: inline-block;
  border-radius: 3px;
  height: 10px;
}

.evaluationPage-variable {
  min-width: 155px;
  display: inline-block;
}

.evaluatePage-preview .evaluationPage-variable,
.evaluatePage-preview .evaluationPage-variable {
  border: 2px dotted #c8c2c2;
  padding: 0.1rem;
  margin-right: 3px;
}

.evaluatePage-preview .evaluationPage-variable:hover,
.evaluatePage-preview .evaluationPage-variable:hover,
.evaluatePage-preview .evaluationPage-variable:focus,
.evaluatePage-preview .evaluationPage-variable:focus {
  border: 2px dotted #646464;
}

.evaluationPage-variable:empty:before {
  content: attr(data-placeholder);
  color: #c8c2c2;
}

.custom-pages-selector {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 40px;
}

.custom-pages-selector > .pagesSelector-dropdown {
  width: 83%;
}

.custom-pages-selector select {
  padding-left: 15px;
}

.custom-pages-selector select {
  height: 35px;
}
.custom-pages-selector button {
  height: 33px;
  padding-top: unset !important;
  padding-bottom: unset !important;
}

.custom-page-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageIdentifier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-pages-manager {
  padding: 1.2rem 1rem 1.4rem 1rem;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-page-title {
  width: 50%;
}

.custom-page-title span {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #1c5c85;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  box-sizing: border-box;
  min-height: 22px;
  display: block;
  word-break: break-all;
  padding: 2px 5px;
}

.formsUsingThisPage-listItem {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-page-title span[contenteditable='true'] {
  border: 1px dashed;
}

.postSubmissionPage-save {
  font-family: Montserrat;
  font-weight: 700;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-width: 80px;
  margin-right: 10px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  color: #1c5c85;
  border: 1px solid #1c5c85;
}

.postSubmissionPage-save:hover {
  color: #fff;
  background-color: #1c5c85;
  cursor: pointer;
}

.postSubmissionPage-delete {
  font-family: Montserrat;
  font-weight: 700;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-width: 80px;
  margin-right: 10px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  color: #be0000;
  border: 1px solid #be0000;
}
.postSubmissionPage-delete:hover {
  color: #fff;
  background-color: #be0000;
}

.postSubmission-wrapper .task-feedback {
  float: right;
  color: #2e7d32;

  animation: feedback-fadeOut 1s 1;
  -webkit-animation: feedback-fadeOut 1s 1;
  animation-fill-mode: forwards;

  animation-delay: 2s;
  -webkit-animation-delay: 1s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

.postSubmission-wrapper .task-feedback.error {
  color: #c62828 !important;
}

@keyframes feedback-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes feedback-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
