iframe {
  width: 100%;
  border: none;
}

.preview-form-wrapper {
  background: #f5f5f5;
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 86px;
  left: 0;
  animation: 1s ease-out 0.7s 1 slideUp forwards;
}

.preview-warning-navback-button {
  float: left;
  border: none;
  cursor: pointer;
  margin-top: 18px;
  margin-left: 10px;
  background: transparent;
  color: #ffffff;
  font-family: Montserrat;
}

.preview-warning-navclose {
  float: right;
  margin-right: 40px;
  /*float: right;*/
  /*margin-top: 18px;*/
  /*margin-right: 10px;*/
}

.preview-warning-text {
  padding: 0 85px 0 85px;
}

.preview-warning-wrapper {
  background: #113952;
  color: white;
  text-align: center;
  padding: 4px;
}

.iframe-wrapper {
  width: 100%;
  height: calc(100% - 70px);
}

@keyframes slideUp {
  0% {
    top: 86px;
  }
  100% {
    top: 6px;
  }
}
/*@keyframes slideInFromLeft {*/
/*  0% {*/
/*    -webkit-transform:translateY(86px);*/
/*    -moz-transform:translateY(86px);*/
/*    transform:translateY(86px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateY(0px);*/
/*    -moz-transform: translateY(0px);*/
/*    transform: translateY(0px);*/
/*  }*/
/*}*/

html,
body,
iframe {
  min-height: 100%;
}
