.wrapper-questionProperties {
  margin-top: 10px;
  overflow-y: auto;
}

.questionPropertiesMessage {
  background-color: #fffcdd;
  color: #646464;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}

.question-info {
  display: flow-root;
}

.question-info > .qlabel {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 10px;
  display: inline;
  float: left;
  max-width: calc(100% - 131px);
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  font-weight: 500;
}

.question-info > .qtype {
  color: gray;
  float: right;
  margin: 10px 20px;
}

.questionPropertiesForm {
  padding: 10px 0;
  position: relative;
  display: block;
}

.questionPropertiesForm > .element {
  margin-top: 10px;
  padding: 0 10px;
}

.questionPropertiesForm > .element > .label {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.questionPropertiesForm > .elementRadio > .input > ul {
  margin-top: 5px;
  padding: 0;
}

.questionPropertiesForm .elementRadio > .input > ul > li {
  display: block;
  padding-bottom: 10px;
  padding-left: 5px;
}
.questionPropertiesForm .elementRadio > .input > ul > li > label {
  margin-left: 5px;
}

.questionPropertiesForm > .elementHeader {
  margin-top: -30px;
}

.questionPropertiesForm .element:last-child {
  padding-bottom: 20px;
}

.questionPropertiesForm .dropdown-div {
}

.questionPropertiesForm .dropdown-div .dropdown-select {
  color: #333;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
}

.hidden {
  display: none !important;
}

#qc_prefixTypeTextBox.elementHider + #qc_prefixOptions {
  display: none !important;
}

#qc_prefix.elementHider ~ #qc_prefixOptions {
  display: none !important;
}

#qc_prefix.elementHider + #qc_prefixTypeTextBox {
  display: none !important;
}

#qc_required.elementHider + #qc_requiredText.elementTextBox {
  display: none !important;
}

#qc_hasDataset + #qc_dropdownOptions.elementTextArea {
  display: none !important;
}

#qc_hasDataset.elementHider + #qc_dataset.elementDropdown {
  display: none !important;
}

#qc_countriesType.elementHider + #qc_defaultCountry.elementDropdown {
  display: none !important;
}

#qc_defaultCountry {
  margin-top: -20px;
}

#qc_isUnselectable.elementHider + #qc_unselectButtonText.elementTextBox {
  display: none !important;
}
