.content > .settings_container {
  margin-top: 86px;
}

.settings_container > .content {
  padding-top: 40px;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.settings_container > .content > div {
  float: left;
  box-sizing: border-box;
  min-height: 350px;
}

.settings_container > .content > div.settings_menu {
  width: 350px;
  background-color: #fdfdfd;
  padding: 16px;
}

.settings_container > .content > div.settings_menu > h2,
.settings_container > .content > div.settings_content h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.settings_container > .content > div.settings_menu > a {
  width: 100%;
  float: left;
  display: block;
  font-size: 18px;
  color: #a0a0a0;
  line-height: 1.38;
  text-decoration: none;
  font-weight: 500;
  padding: 12px;
}

.settings_container > .content > div.settings_menu > a.selected {
  background-color: #f5f5f5;
  color: #0c2738;
}

.settings_container > .content > div.settings_content {
  padding: 0 16px 16px;
  width: 850px;
}

.current_plan {
  padding: 10px 16px;
  background-color: #f5f5f5;
  color: #113952;
  font-size: 24px;
}

.payment div {
  display: inline-block;
  line-height: 40px;
}

.payment {
  width: 100%;
}

.payment thead th {
  color: #646464;
}

.payment tbody th {
  border-top: 1px solid #e2e2e2;
}

.payment .actions_container {
  border-radius: 50%;
  background-color: #f5f5f5;
  vertical-align: inherit;
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  margin: auto;
}

.payment .actions_container:before {
  content: '...';
  position: relative;
  color: #c9c9c9;
  font-size: 23px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: flex-end;
  padding: 26px 0 0 3px;
  cursor: pointer;
  border-radius: 50%;
}

.payment .actions_container:hover {
  background-color: #9ee048;
}

.payment .actions_container:hover:before {
  color: #fff;
}

.payment .actions_container:hover .actions_content {
  display: block;
}

.payment .actions_content {
  display: none;
  position: absolute;
  width: 120px;
  background-color: #fff;
  left: -44px;
  top: 27px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
}

.payment_invoice {
  background-image: url(https://static.formpress.org/images/invoice-icon.png);
  background-position: center center;
  background-size: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.payment thead,
.payment tbody {
  line-height: 50px;
}

.cancel_subscription {
  color: #be0000;
  cursor: pointer;
  margin-right: 5px;
  display: block !important;
}

.upgrade_subscription {
  color: #7aad37;
  cursor: pointer;
  margin-left: 5px;
}

.refund_button {
  cursor: pointer;
  display: block !important;
}

.refund_button.disabled,
.cancel_subscription.disabled,
.upgrade_subscription.disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.3;
}
