.shareFormTabCover {
  display: inline-block;
  background-color: #f5f5f5;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}
.formURL,
.formURL:focus {
  width: calc(100% - 10px);
  color: #1c5c85;
  font-weight: bold;
  padding: 16px 8px;
  border: 1px #b5b2b2 solid;
  background: #dfdfe8;
  outline: 0;
  margin: 0 5px;
}
.embedCode,
.embedCode:focus {
  width: calc(100% - 10px);
  resize: none;
  border: 1px #b5b2b2 solid;
  background: #dfdfe8;
  margin: 0 5px;
  padding: 10px;
  min-height: 200px;
  word-break: break-word;
  color: #1c5c85;
  outline: 0;
  font-weight: bold;
}
.shareFormMessage {
  background-color: #fffcdd;
  color: #646464;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}

.shareFormPublishedWarning {
  background-color: #fffcdd;
  color: #646464;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.shareFormTabCover .popover-container {
  color: #113952;
}

.shareFormTabCover .submitOnceTooltip > .popover-container {
  float: right;
  position: relative;
  top: 3px;
  left: -160px;
}

.shareFormTabCover
  .submitOnceTooltip
  > .popover-container:hover
  > .popoverText {
  width: 12rem;
  height: -moz-fit-content;
  height: fit-content;
  top: -63px;
  left: -174px;
  padding: 4px 3px;
  border-radius: 4px;
  position: absolute;
  background-color: #113952;
  color: #fff;
  text-align: center;
  top: -38px;
  left: -83px;
  z-index: 9999;
  font-size: 12px;
  display: block;
}

.shareFormTabCover .embedCodeTooltip .popover-container {
  float: right;
  position: relative;
  top: 22px;
  left: -220px;
}

.shareFormTabCover .embedCodeTooltip .popover-container:hover > .popoverText {
  width: 12rem;
  height: fit-content;
  top: -65px;
  left: -170px;
  padding: 4px 3px;
  border-radius: 4px;
  position: absolute;
  background-color: #113952;
  color: #fff;
  text-align: center;
  top: -38px;
  left: -83px;
  z-index: 9999;
  font-size: 12px;
  display: block;
}

.shareFormTitle,
.shareFormFooterTitle {
  color: #333333;
  text-align: center;
}
.shareFormContent {
  margin-top: 20px;
}
.shareFormFormUrlArea {
}

.shareFormFormUrlArea .urlAreaControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shareSectionButton {
  font-family: Montserrat;
  display: block;
  font-size: 16px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #719fbd;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
}
.shareSectionButton:hover {
  background-color: #5682a1;
}

.shareFormFormUrlAreaTitle,
.shareFormFormQRAreaTitle,
.shareFormFormEmbedCodeAreaTitle {
  text-indent: 10px;
  color: #333333;
}

.shareFormFormQRArea .qrCodeContainer {
  display: flex;
  justify-content: center;
}

.shareFormFormQRArea .qrDownloadOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.shareFormFooterArea {
  margin-bottom: 30px;
}
.shareFormFormEmbedCodeArea {
}
.shareFormButtonCover {
  margin: auto;
}
.shareFormButtonArea {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
}
.shareButton {
  margin-right: 20px;
}
.share-iframe {
  min-height: 900px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.8;
  filter: blur(1px);
}

.shareFormEmbedTypeDropdown .clearfix {
  display: none;
}

.shareFormSettings {
  padding: 10px;
}
.shareFormSettingsInput {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fdfdfd;
  cursor: pointer;
  vertical-align: middle;
}
.shareFormSettingsInput:checked {
  border: 1px solid #a0a0a0;
  background-color: #113952;
}
.shareFormSettingsWidgetContainer {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.shareFormSettingsInput:checked::before {
  content: '';
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 2px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.shareFormSettingsInput:checked ~ .shareFormSettingsWidgetContainer {
  display: block;
}
.shareFormSettings label {
  vertical-align: middle;
  display: inline-block;
  text-indent: 5px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: normal;
  color: #0c2738;
}
