.dn {
  display: none;
}

#root > .headerContainer {
  margin: 0 auto;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: 10;
  border-top: 6px solid #8cc63f;
}

#root > .headerContainer > .grid {
}

#root > .headerContainer > .grid > .header {
  background-color: #f5f5f5;

  width: inherit;
  margin: 0 auto;
  padding: 6px;
}

.header > .profile_container > .wrapper-welcome {
  display: inline-block;
  width: 255px;
  margin-top: 5px;
  height: 48px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  padding: 5px;
}

.header > .profile_container > .wrapper-welcome > .welcome-user {
  margin-left: 3px;
  width: 210px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  color: #1c5c85;
  float: left;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header > .profile_container > .wrapper-welcome > .profileSVG {
  cursor: pointer;
  margin-top: 8px;
  margin-right: 1px;
  float: right;
}

.nav {
  margin-top: 14px;
  width: auto;
}

.nav > ul {
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav > ul > li {
  float: left;
  list-style: none;
}

.nav > ul > li > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  color: #1c5c85;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.8px;
  text-align: center;
}
.nav > ul > li > a.selected {
  pointer-events: none;
  background-color: #113952;
  color: #ffffff;
}

.content {
  margin-top: 86px;
}

.nav_add_new_form_logo {
  width: 30px !important;
  height: 30px;
}
