.oh {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  margin: 0 auto;
}

.nav {
  height: 40px;
  width: 100%;
  background-color: white;
}

.nav > ul {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  background: white;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.nav > ul > li {
  float: left;
  list-style: none;
  margin-left: 15px;
}

.nav > ul > li > a.selected {
  pointer-events: none;
  font-weight: bold;
}
