.profileMenuContainer {
  position: relative;
  width: 260px;
  height: 60px;
}

.profileMenuContainer .profileMenuContent {
  display: none;
  background-color: white;
  position: absolute;
  top: 52px;
  width: 245px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 5px;
}

.profileMenuContainer:hover .profileMenuContent {
  display: block;
}

.profileMenuContent > .profileMenuEntry {
  margin: 3px 0 3px 0;
  padding: 10px;
  color: black;
  font-weight: 500;
  line-height: 0.98;
  cursor: pointer;
}
.profileMenuEntry:hover > a,
.profileMenuEntry:hover > span {
  color: #0071bc;
}

.profileMenuEntry:hover {
  background-color: #f5f5f5;
  border-radius: 7px;
}

.profileMenuEntry > a > svg,
.profileMenuEntry > span > svg {
  float: left;
}

.profileMenuEntry > a,
.profileMenuEntry > span {
  border: none;
  padding: 10px 120px 10px 10px;
  text-decoration: none;
  color: black;
  font-family: Montserrat;
}

.profileMenuContainer .profileMenuContent > a:hover {
  text-decoration: underline;
}

.header > .profile_container > .profile .wrapper-welcome {
  display: inline-block;
  width: 255px;
  margin-top: 9px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  padding: 5px;
}

.header > .profile_container > .profile .wrapper-welcome > .welcome-user {
  margin-left: 3px;
  width: 210px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  color: #1c5c85;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0 6px 2px;
}

.profileMenuEntry .fa-question {
  width: 16px;
  height: 16px;
}

.header > .profile_container > .profile .wrapper-welcome > .profileSVG {
  cursor: pointer;
  margin-top: 5px;
  margin-right: 1px;
  float: right;
}
