.profileMenuContainer {
  height: 60px;
  position: relative;
}

.profileMenuContainer:hover .profileMenuContent {
  display: block;
  background-color: white;
  position: absolute;
  top: 54px;
  right: 116px;
  line-height: normal;
  min-height: 50px;
  padding: 0 10px 10px 10px;
}

.profileMenuContainer .profileMenuContent > a {
  float: left;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.profileMenuContainer .profileMenuContent > a:hover {
  text-decoration: underline;
}
