body {
  background-image: url(/bg-pattern.png);
  background-repeat: repeat;
}

.headerContainer {
  height: 75px !important;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

#root .content {
  margin-top: 110px !important;
}
