.tabsContainer {

}

.tabsContainer > .tabs {
  overflow: hidden;
  display: table;
}

.tabsContainer > .tabs > a {
  display: table-cell;
  border-collapse: collapse;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
}

.tabsContainer > .tabs > a.selected {
  border-bottom: none;
}
