select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-style: ridge;
  background: #ffffff;
  flex: 1;
  padding: 0 .5em;
  color: #0071bc;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.dropdown-div {
  position: relative;
  display: inline-flex;
  width: 50%;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}

.dropdown-div::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #719fbd;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.dropdown-div:hover::after {
  color: white;
}

#options-textarea {
  width: 50%;
  float: left;
}

#edit-preview-button {
  background-color: white;
  color: black; 
  border: 2px solid #0071bc;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#edit-preview-button:hover {
  background-color: #737679;
  color: white;
}
