.questionPropertiesCheckboxMenu {
  display: flex;
  flex-wrap: wrap;
  background-color: #e4e4e4;
  padding: 5px;
}

.questionPropertiesCheckboxMenu .questionPropertiesCheckbox {
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  user-select: none;
  cursor: pointer;
  color: #a7a7a7;
}

.questionPropertiesCheckboxMenu .questionPropertiesAddNewButton {
  padding: 5px;
  margin: 5px;
  background-color: #e4e4e4;
  border: 1px dashed #a7a7a7;
  color: #a7a7a7;
  font-size: 14px;
}

.questionPropertiesCheckboxMenu .questionPropertiesAddNewButton.halfButton {
  max-width: calc(50% - 10px);
}

.questionPropertiesCheckboxMenu .questionPropertiesAddNewButton.fullButton {
  max-width: calc(100% - 10px);
}
