.form > .element {
  box-sizing: border-box;
  padding: 25px 10px;
  margin: 2px 0;
}

.form > .element > .label {
  width: 200px;
}

.form > .element > .input {
  width: 400px;
}

.form > .element > button,
.form > .element > input[type=submit] {
  padding: 5px 10px;
  font-size: 16px;
}