.builderStage .form {
  background-color: white;
  width: 750px;
  margin: 0 auto;
}

.builderStage .form > .element {
  box-sizing: border-box;
  padding: 25px 10px;
  margin: 2px 0;
}

.builderStage .form > .element.requiredError {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.3);
}

.form .element.requiredError .metadata .requiredErrorText {
  display: block;
  font-size: 14px;
  color: #646464;
  margin-top: 10px;
}

.form > .element > .label {
  min-width: 200px;
  max-width: 600px;
}

.builderStage .form > .element > .label > .requiredMarker {
  margin-left: 10px;
  display: inline-block;
  color: red;
}

.builderStage .form > .element > button,
.builderStage .form > .element > input[type='submit'] {
  padding: 5px 10px;
  font-size: 16px;
}

.form > .element > .metadata {
  width: 100%;
}

.form .element .metadata .requiredErrorText {
  display: none;
}
