.pagebreak-separator {
  color: #f5f5f5;
}

.pagebreak-button {
  display: inline-block;
}

.pagebreak-button > button,
.pagebreak-button > input[type='button'] {
  color: white;
  /*background-color: #12bc00;*/
  background-color: #6dae19;
  border: 1px whitesmoke;
  width: 6.6rem;
  height: 2.6rem;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pagebreak-navControls {
  padding-top: 10px;
}

.pagebreak-pageCount {
  text-align: center;
  color: #c4bfbf;
}

.pb-next {
  float: right;
}

.pb-submit {
  float: right;
}
