.pagebreak-separator {
  color: #f5f5f5;
}

.pagebreak-button {
  display: inline-block;
}

.pagebreak-button > button,
.pagebreak-button > input[type='button'] {
  color: white;
  cursor: pointer;
  background-color: #9ee048;
  width: 7rem;
  height: 2.6rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: unset;
  font-weight: bolder;
  font-size: 16px;
}

.pagebreak-navControls {
  padding-top: 10px;
}

.pagebreak-pageCount {
  text-align: center;
  color: #c4bfbf;
}

.pb-next {
  float: right;
}

.pb-submit {
  float: right;
}
