.pagebreak-separator {
  color: #f5f5f5;
  width: 100%;
}

.pagebreak-button {
  display: inline-block;
}

.pagebreak-button > button,
.pagebreak-button > input[type='button'] {
  color: white;
  cursor: pointer;
  background-color: #9ee048;
  width: 7rem;
  min-height: 2.6rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: bolder;
  font-size: 16px;
}

.pagebreak-navControls {
  padding-top: 10px;
}

.pagebreak-pageCount {
  text-align: center;
  color: #c4bfbf;
}

.pb-next {
  float: right;
}

.pb-submit {
  float: right;
}

.gleam .pagebreak-navControls > .pagebreak-button > button > div,
.gleam .pagebreak-navControls > .pagebreak-button > input[type='button'] > div,
.gleam .pagebreak-navControls > .pagebreak-button > input[type='submit'] > div {
  padding: 0.3rem;
}

.gleam .pagebreak-navControls > .pagebreak-button > button > div > span,
.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='button']
  > div
  > span,
.gleam
  .pagebreak-navControls
  > .pagebreak-button
  > input[type='submit']
  > div
  > span {
  display: block;
  border: #9ee048 solid 1px;
  width: 5.7rem;
  overflow-wrap: break-word;
}

.autoPageBreak > .elementPageBreak > .action {
  display: none !important;
}
